<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>Office Hours</h1></div>
        </div>
    </div>

    <div class="well outer-well">





        <table class="table table-bordered">
            <thead>
            <tr>
                <td colspan="6" class="text-center"><h3>Office Hours - Davis 302</h3></td>
            </tr>
            </thead>
            <tbody class="text-center">

            <tr>
                <td width="10%"></td>
                <td width="18%" class="active">Monday</td>
                <td width="18%" class="active">Tuesday</td>
                <td width="18%" class="active">Wednesday</td>
                <td width="18%" class="active">Thursday</td>
                <td width="18%" class="active">Friday</td>
            </tr>



            <tr>
                <td class="active">9am - 10am</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">10am - 11am</td>
                <td></td>
                <td>ShuaiXiang</td>
                <td>Hongfei</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">11am - 12pm</td>
                <td></td>
                <td></td>
                <td>Hongfei</td>
                <td></td>
                <td>Wes</td>
            </tr>

            <tr>
                <td class="active">12pm - 1pm</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">1pm - 2pm</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">2pm - 3pm</td>
                <td>Lecture</td>
                <td></td>
                <td>Lecture</td>
                <td></td>
                <td>Lecture</td>
            </tr>

            <tr>
                <td class="active">3pm - 4pm</td>
                <td>Andrew, Hongfei</td>
                <td></td>
                <td></td>
                <td>Lakshmi - Bell 340</td>
                <td>ShuaiXiang</td>
            </tr>

            <tr>
                <td class="active">4pm - 5pm</td>
                <td>Andrew, Bass</td>
                <td></td>
                <td>Wes</td>
                <td>Andrew</td>
                <td></td>
            </tr>

            <tr>
                <td class="active">5pm - 6pm</td>
                <td></td>
                <td></td>
                <td>Wes</td>
                <td></td>
                <td>Sun</td>
            </tr>

            <tr>
                <td class="active">6pm - 7pm</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Sun</td>
            </tr>

            <tr>
                <td class="active">7pm - 8pm</td>
                <td></td>
                <td>Andrew</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">8pm - 9pm</td>
                <td>Bass</td>
                <td></td>
                <td>Wehar, Bass</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">9pm - 10pm</td>
                <td></td>
                <td>Jesse</td>
                <td>Wehar, Bass</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">10pm - 11pm</td>
                <td></td>
                <td>Jesse</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">11pm - 12am</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            </tbody>
        </table>




        <table class="table table-bordered">
            <thead>
            <tr>
                <td colspan="6" class="text-center"><h3>Labs - Davis 340</h3></td>
            </tr>
            </thead>
            <tbody class="text-center">

            <tr>
                <td width="10%"></td>
                <td width="18%" class="active">Monday</td>
                <td width="18%" class="active">Tuesday</td>
                <td width="18%" class="active">Wednesday</td>
                <td width="18%" class="active">Thursday</td>
                <td width="18%" class="active">Friday</td>
            </tr>



            <tr>
                <td class="active">10am - 11am</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">11am - 12pm</td>
                <td></td>
                <td>A5 - Wehar, Bass</td>
                <td>A6 - Wehar, Bass</td>
                <td>A3 - Hongfei, Bass</td>
                <td></td>
            </tr>

            <tr>
                <td class="active">12pm - 1pm</td>
                <td></td>
                <td>A5 - Wehar, Andrew</td>
                <td>A6 - Wehar, Bass</td>
                <td>A3 - Hongfei, Bass</td>
                <td></td>
            </tr>

            <tr>
                <td class="active">1pm - 2pm</td>
                <td></td>
                <td>A1 - Andrew, Hongfei</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">2pm - 3pm</td>
                <td>Lecture</td>
                <td>A1 - Andrew, Hongfei</td>
                <td>Lecture</td>
                <td></td>
                <td>Lecture</td>
            </tr>

            <tr>
                <td class="active">3pm - 4pm</td>
                <td></td>
                <td>A4-ShuaiXiang, Andrew</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">4pm - 5pm</td>
                <td></td>
                <td>A4 - ShuaiXiang, Andrew</td>
                <td>A2 - Brittany, bassman</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">5pm - 6pm</td>
                <td></td>
                <td></td>
                <td>A2 - Brittany, bassman</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="active">6pm - 7pm</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>



            </tbody>
        </table>







    </div>
</div>

