<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>Homework 3: Project Pitch Page</h1></div>
        </div>
    </div>
    <div class="well outer-well">
        <div class="well">
            <h3 class="text-center">Due Date</h3>
            <hr/>
            Friday, March 11 @ 2 hours after 11:59pm (2am Saturday morning)
        </div>

        <div class="well">
            <h3 class="text-center">Objectives</h3>
            <hr/>
            <ul>
                <li>Create a website to pitch a project idea for this course</li>
                <li>Host the site publicly on the Internet</li>
                <li>Practice with HTML, CSS, and Bootstrap</li>
                <li>Use FTP (File Transfer Protocol) to upload files to a server</li>
            </ul>
        </div>


        <div class="well">
            <h3 class="text-center">Resources</h3>
            <hr/>
            <ul>
                <li>W3Schools HTML: <a href="http://www.w3schools.com/html/default.asp">http://www.w3schools.com/html/default.asp</a>
                </li>
                <li>W3Schools CSS: <a href="http://www.w3schools.com/css/default.asp">http://www.w3schools.com/css/default.asp</a>
                </li>
                <li>W3Schools BootStrap: <a href="http://www.w3schools.com/bootstrap/default.asp">http://www.w3schools.com/bootstrap/default.asp</a>
                </li>
                <li>W3Schools Templates: <a href="http://www.w3schools.com/bootstrap/bootstrap_templates.asp">http://www.w3schools.com/bootstrap/bootstrap_templates.asp</a>
                </li>
            </ul>
        </div>


        <div class="well">

            <p>
                Your objective is to create a web page to pitch an idea for your final project in this course that will
                be available to all your classmates, and anyone with an Internet connection. For the final project you
                will work in groups of 1-3 of your choosing and you can use these pitches to help form groups with
                others who have similar interests and ideas.
            </p>
            <p>
                Final project note: You will be required to apply
                each of the topics covered in the course in your project to make a full-stack website that includes a
                CGI call to a python script that connects to a database. The topic for your final project will be
                open-ended so you can choose anything you'd like for
                the application of this technology.
            </p>
            <p>You can view your classmates pitches on the course website: <a href="?profilePages/ProfilePages.html">Project
                Pitches</a></p>


            <h3>Sample site</h3>
            To make clear our expectations, here is a sample site of what we expect for this assignment:<br/>
            <h5><a href="homeworkCode/hw3">Sample Page</a></h5>
            <br/>


            <hr/>

            <h3 class="text-center">Lab (1 point)</h3>


            <h4 class="text-center">Hosting Your Site</h4>
            <br/>

            <ul>
                <li><a href="http://www.buffalo.edu/ubit/service-guides/web-hosting/creating-a-personal-website.html">http://www.buffalo.edu/ubit/service-guides/web-hosting/creating-a-personal-website.html</a>
                </li>
            </ul>
            <p>
                Host a web site on the servers at UB following the instructions in the link above. This will involve
                activating your personal website and using an ftp client to push your files to the server. With this,
                you will be able to make your web site available to anyone on the Internet.
            </p>
            <p>
                Host your page in a folder named "cse113" making the full url "http://www.acsu.buffalo.edu/~&lt;UBIT&gt;/cse113"
                where &lt;UBIT&gt; is your UBIT username.
            </p>
            <div class="alert alert-info">For this assignment, you will be submitting your files through the homework
                submission link as well
                hosting them on the UB servers.
            </div>
        </div>

        <div class="well">
            <h3 class="text-center">Independent Tasks (3 point)</h3>
            <hr/>

            <h4 class="text-center"><del>Submit</del> Host a Thumbnail Image</h4>

            <p>
                <del>Submit an image via the homework submission page</del>
                Add a file in your cse113 folder that will used for your site on the <a
                    href="?profilePages/ProfilePages.html">Project Pitches</a> page. This image should be related to
                your project idea to quickly give a viewer an idea of what it being pitched.
            </p>
            <p>
                <del>Submit</del>
                Host your thumbnail image with the name of "thumbnail.jpg", "thumbnail.gif", or "thumbnail.png". It
                must be of one of these three formats. Please only
                <del>submit</del>
                host one of these three formats to avoid having the
                wrong image posted on the site. This image doesn't have to appear
                on your site itself, but we will link to files with these names in your folder in order to use it for
                the course website.
            </p>
            <hr/>
            <hr/>

            <h4 class="text-center">Project Pitch with Bootstrap</h4>
            <br/>

            <p>
                Use a Bootstrap template and populate it with your project pitch. Several templates can be found on <a
                    href="http://www.w3schools.com/bootstrap/bootstrap_templates.asp">W3Schools</a>, though you are not
                limited to only these templates.
                If you do not want to use a template, you can choose to create your site from scratch. If you create
                your site from scratch, it must use Bootstrap
                elements as well as CSS.
            </p>
            <p>


            </p>
            <p>
                Your project pitch must be descriptive as to what you want to accomplish in the final project for this
                course.
            </p><br/>

            <br/>


            <hr/>
            <hr/>
            <h4 class="text-center">Contact Information</h4>
            <br/>

            <p>
                On your website, let potential group mates know how they can contact you. You can provide your preferred
                method of contact whether be email, text message, home address, Facebook, Google Hangout, etc.
            </p>


            <br/>


            <hr/>
            <hr/>
            <br/>

        </div>

        <div class="well">
            <h3>Submission</h3>
            Host your files as per the direction above and as covered in lab.
        </div>

    </div>
</div>

