<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>Final Project</h1></div>
        </div>
    </div>
    <div class="well outer-well">
        <div class="well">
            <h3 class="text-center">Due Date</h3>
            <hr/>
            Group Formation: Friday, April 22 @ 2 hours after 11:59pm (2am Saturday morning) <br/><br/>
            Project: Friday, May 13 @ 2 hours after 11:59pm (2am Saturday morning)
        </div>

        <div class="well">
            <h3 class="text-center">Objectives</h3>
            <hr/>
            <ul>
                <li>Apply your programming skills to build an interactive website of your choosing.</li>
            </ul>
        </div>


        <div class="well">

            <h3 class="text-center">Project Requirements</h3>

            <p>
                You will apply the topics covered in this course in your project to make a full-stack website
                that includes a AJAX call to a python script that connects to a database. In this way you will create an
                website where users can interact with a database, and each other.
            </p>
            <p>
                The theme of your site can be anything you choose and does not need to match the ideas that were pitched
                in homework 3.
            </p>

            <hr/>
            <hr/>

            <h3 class="text-center">Grading Breakdown</h3>
            <hr/>

            <h4 class="text-center">Group Formation (1 point)</h4>
            <div class="text-center alert alert-warning"><h5>This Part Due: April 22</h5></div>

            <ul>
                <li>
                    Group Formation: <a
                        href="https://docs.google.com/a/buffalo.edu/forms/d/1weUvDuKAnMhPPFoBjFErR7SfCWHPZqOAInto0dDLeDo/viewform">
                    https://docs.google.com/a/buffalo.edu/forms/d/1weUvDuKAnMhPPFoBjFErR7SfCWHPZqOAInto0dDLeDo/viewform</a>
                </li>
            </ul>

            <p>
                Submit your group name, group members, and a brief description of your project using the Google form
                above.
            </p>

            <div class="alert alert-warning">
                Please note the earlier deadline for this part. If you do not submit your group information before
                April 22 you will not be able to earn this point.
            </div>

            <hr/>

            <h4 class="text-center">Website Design and Hosting (1 point)</h4>

            <p>

                Host a website with a professional design and submit your link using the following form.

            <ul>
                <li>
                    Submit Project Link: <a href="http://goo.gl/forms/xvsbB1EgNR">http://goo.gl/forms/xvsbB1EgNR</a>
                </li>
            </ul>

            The CSE server is provided for you as a hosting option, but you are not limited to these servers. You can
            host your site wherever you'd like as long as you submit the link using this form.

            </p>

            <p>
                There is a professionalism component to this point (unlike homework 3). Decisions of whether the site is
                professional enough
                to earn this point will be made at the discretion of the course staff.
            </p>

            <hr/>

            <h4 class="text-center">Database Connection (1 point)</h4>
            <br/>

            <p>
                Your project website must provide functionality for users to connect to a database through AJAX calls.
                Users must be able to submit data that is added to the database as well as pull data from
                the database and view it in the browser.
            </p>

            <p>
                This will require an implementation that combines most of the components from the course material.
            </p>

            <br/>

            <br/>


            <hr/>
            <h4 class="text-center">Demo Your Project (1 Point)</h4>
            <br/>

            <p>
                Give a live demo of you project to at least one of the course staff. All group members must be present at
                this presentation. Ample availability will be provided during finals week to allow all groups the
                opportunity to present.
            </p>


            <br/>

        </div>


    </div>
</div>

