<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>Build-a-Site</h1></div>
        </div>
    </div>

    <div class="well">
        <p>
            Today will be building a web site of your choosing from scratch.
        </p>

        <p>
            <h2>Location</h2>
            The site will be located here: <a href="http://ubcse.com/buildasite/">http://ubcse.com/buildasite/</a>
        </p>

        <p>
            <h2>Suggestions</h2>
            Suggestions will be made here: <a href="http://ubcse.com/CSE250/suggestions.html">http://ubcse.com/CSE250/suggestions.html</a>
        </p>

        <p>
            You are in control of the content of the site through the voting system on the suggestions page.
        </p>
    </div>

</div>