<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>CGI</h1></div>
        </div>
    </div>

    <div class="well">
        <h2>Questions</h2>
        Submit question here: <a href="http://ubcse.com/CSE250/suggestions.html">http://ubcse.com/CSE250/suggestions.html</a>
    </div>

    <div class="well"> <!-- well 1 -->
        <div class="well">
            <h2>CGI - Common Gateway Interface</h2>
            <p>
                <!--Wikipedia: <a href="https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol">https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol</a>.-->
            </p>

            <br/>
            <p>
                In this lecture we will explore:
            </p>
            <ul>
                <li>Connecting Python to the Internet</li>
                <li>Hosting a CGI enabled web site</li>
                <li>Writing CGI scripts</li>
            </ul>


            <br/>

            <div class="well">

                <h3>CGI</h3>
                <p>
                    With web API's we used python to connect to the Internet. Now we will have the Internet connect to
                    our python. With CGI we will connect to python scripts through the Internet, run them on the server,
                    and return the results back to the user.
                </p>
            </div>


            <div class="well">

                <h3>CSE Servers</h3>
                <p>
                    The acsu web server where we hosted homework 3 will not allow CGI calls so we need to host our sites
                    on a different server to run CGI scripts. For this course, we will utilize the CSE servers.
                    Instructions can be found on the following two links. The concept is the same as before, but the
                    server name and you password will be different.
                    <br/>
                    Connecting to the CSE servers: <a
                        href="https://wiki.cse.buffalo.edu/services/content/cse-unixlinux-accounts">https://wiki.cse.buffalo.edu/services/content/cse-unixlinux-accounts</a>
                    <br/>
                    Hosting on the CSE servers: <a
                        href="https://wiki.cse.buffalo.edu/services/content/how-create-your-cse-home-page">https://wiki.cse.buffalo.edu/services/content/how-create-your-cse-home-page</a>
                    <br/>
                    To view your CGI enabled site, navigate to you site in the format
                    "http://www-student.cse.buffalo.edu/~&lt;UBIT&gt;".
                    <br/><br/>
                    <!--To view this site with CGI enabled: <a-->
                        <!--href="http://www-student.cse.buffalo.edu/~hartloff/dev/IntroCS/index.html?lectures/CGI.html">http://www-student.cse.buffalo.edu/~hartloff/IntroCS/index.html?lectures/CGI.html</a>.-->
                    <!--This is necessary to run the examples later in this lecture.-->
                </p>
            </div>


            <div class="well">

                <h3>Logistics and Permissions</h3>
                <p>
                    Once we have a site hosted on a server with CGI enabled, we must do the following to host a CGI
                    script on the server.
                <ul>
                    <li>Create a directory for CGI scripts: "public_html/cgi-bin"</li>
                    <ul>
                        <li>This folder must be named "cgi-bin" or the server will not run the scripts. This is done to
                            ensure user can only run scripts that we explicitly allow them to run.
                        </li>
                    </ul>
                    <li>Insert scripts into this directory with the file extension ".cgi"</li>
                    <ul>
                        <li>Ex: If we want to host a script named "myScript.py" we'll rename it "myScript.cgi"</li>
                    </ul>
                    <li>Set the permissions for the "cgi-bin" directory and all ".cgi" files to 755</li>
                    <ul>
                        <li>This step explicitly allows anyone to access these files. It is important to be careful when
                            setting permissions on sensitive files to ensure privacy.
                        </li>
                        <li>The 755 permission means that everyone can read and execute the file, but only the owner can
                            write to the file.
                        </li>
                        <li>Logistics of accomplishing this will be covered in lab.
                        </li>
                    </ul>
                </ul>
                </p>
            </div>

            <div class="well">

                <h3>Writing a CGI Script</h3>
                <p>
<pre>
#!/usr/local/bin/python3

print("Content-Type:text/html\r\n\r\n")
print("Hello World")
</pre>
                </p>
                <p>
                    Let's take a look at this example one line at a time:
                <ul>
                    <li>#!/usr/local/bin/python3</li>
                    <ul>
                        <li>
                            Tells the server which program to use to run the script. Since CGI scripts will have the
                            file extension .cgi the server doesn't know how to run it by default.
                        </li>
                    </ul>
                    <li>print("Content-Type:text/html\r\n\r\n")</li>
                    <ul>
                        <li>
                            Header for the HTTP response packet. This line is required to send data back to the client
                            and we will start every response with this text.
                        </li>
                    </ul>
                    <li>print("Hello World"))</li>
                    <ul>
                        <li>
                            The message to be sent back to the user. Any python code can be ran here.
                        </li>
                    </ul>
                </ul>
                </p>
            </div>

            <div class="well">

                <h3>Calling CGI Scripts</h3>
                <p>
<pre>
&lt;a href=&quot;cgi-bin/myScript.cgi&quot;&gt;Click here to run the script&lt;/a&gt;
</pre>
                </p>
            </div>

            <!--<div class="well">-->

                <!--<h3>Parameter Passing</h3>-->
                <!--<p>-->

<!--<pre>-->
<!--&lt;button class=&quot;btn btn-default&quot; type=&quot;button&quot; onclick=&quot;cgi-bin/myScript.cgi?firstname=Chuck&lastname=Norris&quot;&gt;Run&lt;/button&gt;-->
<!--</pre>-->

<!--<pre>-->
<!--#!/usr/local/bin/python3-->

<!--import cgi-->

<!--inputs = cgi.FieldStorage()-->

<!--first = inputs.getvalue('firstname')-->
<!--last = inputs.getvalue('lastname')-->

<!--print("Content-Type:text/html\r\n\r\n")-->
<!--print(first + " " + last)-->
<!--</pre>-->
                <!--</p>-->
            <!--</div>-->

            <!--&lt;!&ndash;<div class="well">&ndash;&gt;-->
            <!--&lt;!&ndash;<h3>Python Web Server</h3>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>&ndash;&gt;-->
            <!--&lt;!&ndash;Run a local web server to help debug. This will come in a later lecture when we're using CGI on hw5.&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->


            <!--<button class="btn btn-default" type="button" onclick="cgi-bin/myScript.cgi">Run</button>-->
        </div>
    </div>
</div>