<div class="container">
    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>Dictionary</h1></div>
        </div>
    </div>
    <div class="well">
        <div class="well">
            <h2>Dictionary Overview</h2>
            <ul>
                <li>
                    <dl>
                        <dt>Introduction:</dt>
                        <dd>A <b>dictionary</b> is like an address-book where you can find the address or contact
                            details of a person by knowing only his/her name, <i>i.e.</i> we associate <b>keys</b>(name)
                            with <b>values</b>(details). Note that the key must be unique just like you cannot find out
                            the correct information if you have two persons with the exact same name.
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>Syntax:</dt>
                        <dd><code>{<b>key1</b>:<b>value1</b>, <b>key2</b>:<b>value2</b>, ...}</code></dd>
                        <dd>The <b>Key-Value pairs</b> are separated by a colon and the pairs are separated themselves
                            by commas and all this is enclosed in a pair of curly braces.
                        </dd>
                    </dl>
                </li>
            </ul>
            <div class="alert alert-info">Note that the key-value pairs in a <b>dictionary</b> are not ordered in any
                manner. If you want a particular order, then you will have to sort them yourself before using it.
            </div>
        </div>

        <div class="well">
            <h2>Create a Dictionary</h2>
            <div class="well">
                <h5>Our address book:</h5>
                <table border="1" style="width: 50%">
                    <caption>Address Book</caption>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                    </tr>
                    <tr>
                        <td>Tom</td>
                        <td>tom@buffalo.edu</td>
                    </tr>
                    <tr>
                        <td>Jack</td>
                        <td>jack@buffalo.edu</td>
                    </tr>
                    <tr>
                        <td>Larry</td>
                        <td>larry@google.com</td>
                    </tr>
                    <tr>
                        <td>Mike</td>
                        <td>mike@icloud.com</td>
                    </tr>
                </table>
            </div>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="12" id="DictionaryIntro">
address_book = {    'Tom' : 'tom@buffalo.edu',
                    'Jack' : 'jack@buffalo.edu',
                    'Larry' : 'larry@google.com',
                    'Mike' : 'mike@icloud.com' }

print(address_book)

print("Tom's address is " + address_book['Tom'])
print("Jack's address is " + address_book['Jack'])
print("Larry's address is " + address_book['Larry'])
print("Mike's address is " + address_book['Mike'])
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button"
                            onclick="runit('DictionaryIntro','DictionaryIntroOut')">Run
                    </button>
                </div>
            </form>
            <pre id="DictionaryIntroOut"></pre>
            <!--End of Reference Code-->
            <p>Note that the <em>keys</em> and <em>values</em> can be any types of value -- integer, double, string and
                so on. In our examples, we just use string.</p>
        </div>

        <div class="well">
            <h2>Insert Key-Value Pairs</h2>
            <p><b>Dictionary</b> has a special way to insert a <b>Key-Value pair</b>, let's see:</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="10" id="DictionaryInsert">
address_book = {    'Tom' : 'tom@buffalo.edu',
                    'Jack' : 'jack@buffalo.edu' }
print(address_book)

address_book['Larry'] = 'larry@google.com'
print(address_book)

address_book['Mike'] = 'mike@icloud.com'
print(address_book)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button"
                            onclick="runit('DictionaryInsert','DictionaryInsertOut')">Run
                    </button>
                </div>
            </form>
            <pre id="DictionaryInsertOut"></pre>
            <!--End of Reference Code-->
        </div>

        <div class="well">
            <h2>Update Values of Pairs</h2>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="8" id="DictionaryModify">
address_book = {    'Tom' : 'tom@buffalo.edu',
                    'Jack' : 'jack@buffalo.edu',
                    'Larry' : 'larry@google.com'}
print(address_book)

address_book['Larry'] = 'larry@icloud.com'
print(address_book)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button"
                            onclick="runit('DictionaryModify','DictionaryModifyOut')">Run
                    </button>
                </div>
            </form>
            <pre id="DictionaryModifyOut"></pre>
            <!--End of Reference Code-->
            <div class="alert alert-info">Note that we use the same way to do insertion and value modification.<br/>
                Actually, when you use statement <em style="border: 1px dotted #000">dictionaryName[keyName]=aValue</em>
                to manipulate a <b>dictionary</b>, Python will check whether the <em>keyNmae</em> ia already in the the
                <b>dictionary</b> or not. If yes, Python will replace the original value of that key with your new value
                <em>aValue</em>, otherwise Python will create a new <b>Key-Value pair</b> with <em>keyName</em> and <em>aValue</em>.
            </div>
        </div>

        <div class="well">
            <h2>Delete Key-Value pairs</h2>
            <p>We use <em>del</em> to delete a <b>Key-Value</b> pair:</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="12" id="DictionaryDelete">
address_book = {    'Tom' : 'tom@buffalo.edu',
                    'Jack' : 'jack@buffalo.edu',
                    'Larry' : 'larry@google.com',
                    'Mike' : 'mike@icloud.com' }
print(address_book)

del address_book['Tom']
print(address_book)

del address_book['Jack']
print(address_book)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button"
                            onclick="runit('DictionaryDelete','DictionaryDeleteOut')">Run
                    </button>
                </div>
            </form>
            <pre id="DictionaryDeleteOut"></pre>
            <!--End of Reference Code-->
        </div>

        <div class="well">
            <h2><em>in</em> operation</h2>
            <p>In some cases, we need to update some vales in the <b>Dictionary</b>, but we don't want add new pairs. We
                can <em>in</em> operation to handle this:</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="17" id="DictionaryIn">
address_book = {    'Tom' : 'tom@buffalo.edu',
                    'Jack' : 'jack@buffalo.edu',
                    'Larry' : 'larry@google.com' }
print(address_book)

if 'Tom' in address_book:
    address_book['Tom'] = 'tom@microsoft.com'
print(address_book)

if 'Mike' in address_book:
    address_book['Mike'] = 'mike@amazon.com'
print(address_book)

if 'Mike' not in address_book:
    address_book['Mike'] = 'mike@amazon.com'
print(address_book)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('DictionaryIn','DictionaryInOut')">
                        Run
                    </button>
                </div>
            </form>
            <pre id="DictionaryInOut"></pre>

            <p>
                Alternatively:
            </p>

            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="10" id="DictionaryIn2">
address_book = {    'Tom' : 'tom@buffalo.edu',
                    'Jack' : 'jack@buffalo.edu',
                    'Larry' : 'larry@google.com' }
print(address_book)
print('')

print(address_book.get('Tom'))
print(address_book.get('Mike'))
print(address_book.get('Dave', "Dave's not here"))  # with a default value
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('DictionaryIn2','DictionaryIn2Out')">
                        Run
                    </button>
                </div>
            </form>
            <pre id="DictionaryIn2Out"></pre>
            <!--End of Reference Code-->
            <div class="alert alert-info">Actually, the <b>running time</b> of <em>in</em> operation in
                <b>Dictionary</b> is much much faster than in <b>List</b>, because the implementation of
                <b>Dictionary</b> in Python use <b>Hash Table</b>(you can learn more about <b>Hash Table</b> in <b>Data
                    Structure</b> class).
            </div>
        </div>

        <div class="well">
            <h2>Traverse the Dictionary</h2>
            <p>Since we have learnt <em>for</em> statement, we can traverse the <b>Dictionary</b>:</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="14" id="DictionaryTraverse">
address_book = {    'Tom' : 'tom@buffalo.edu',
                    'Jack' : 'jack@buffalo.edu',
                    'Larry' : 'larry@google.com',
                    'Mike' : 'mike@icloud.com'}

for myKey, myValue in address_book.items():
    print(myKey + ' --> ' + myValue)

print('')

for myKey in address_book.keys():
    print(myKey + ' --> ' + address_book[myKey])
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button"
                            onclick="runit('DictionaryTraverse','DictionaryTraverseOut')">Run
                    </button>
                </div>
            </form>
            <pre id="DictionaryTraverseOut"></pre>
            <!--End of Reference Code-->

<p>
    We can even have dictionaries of dictionaries!
</p>

            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="18" id="DictionaryTraverse3">
dictionary = {'Tom' : {'email':'tom@buffalo.edu', 'age':42},
                    'Jack' : {'email':'jack@buffalo.edu', 'age':38},
                    'Larry' : {'email':'larry@google.com', 'age':51},
                    'Mike' : {'email':'mike@icloud.com', 'age':26}}

for myKey in dictionary.keys():
    print(myKey + ' --> ' + str(dictionary[myKey]))

print('')
print(dictionary['Jack']['email'])
print('Mike is ' + str(dictionary.get('Mike').get('age')) + ' years old')

print('')
for myKey in dictionary.keys():
    print(myKey + ' is ' + str(dictionary[myKey].get('age', 0)) + ' years old')
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button"
                            onclick="runit('DictionaryTraverse3','DictionaryTraverse3Out')">Run
                    </button>
                </div>
            </form>
            <pre id="DictionaryTraverse3Out"></pre>
            <!--End of Reference Code-->

        </div>

    </div>
</div>