<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>The if Statement</h1></div>
        </div>
    </div>
    <br/>



    <div class="well">


        <div class="well">
            <div><h2>What are they and how are they used in programming?</h2></div>
            <ul>
                <li><h3>Condition</h3></li>
            </ul>
			<p>We have a certain condition and see if it's true or false.</p>
			<p>If the condition in the if statement is true, code lines inside the if statement will be executed, otherwise they won't be executed.</p>
		</div>

        <div class="well">
			<div><h2>Comparison</h2></div>
			<p>we will see if our variable is greater than 4.</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="4" id="ifex1">
y = 5
if y>4:
	print("y is greater than 4")
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifex1','ifex1Out')">Run</button>
                </div>
            </form>

            <pre id="ifex1Out"></pre>
			<p>We could print "y is greater than 4" since our if statement is true.</p>
        	<div class="alert alert-info">Just like the function, the lines inside the if statement should be tabbed. Also, make sure to include a colon (":") at the  end of the if statement's header.</div>
			<br/>

			<p>Another example</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="4" id="ifex2">
y = 3
if y>4:
	print("Would this line be printed?")
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifex2','ifex2Out')">Run</button>
                </div>
            </form>

            <pre id="ifex2Out"></pre>
			<p>Obviously we couldn't see the line printed since the if statement has a false condition that y is greater than 4.</p>
			</br>
			<p>We can also compare strings by alphabetical order.</p>

            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="5" id="ifex29">
x = "abc"
y = "efg"
if y>x:
	print("efg will be printed")

</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifex29','ifex29Out')">Run</button>
                </div>
            </form>

            <pre id="ifex29Out"></pre>
			<p>Here "efg" was printed because our condition is true that "efg" is alphabetically greater than "abc".</p>


        </div>



        <div class="well">
            <div><h2>Equality</h2></div>
			<p>The if statement can also check if the condition is equal to something or not.</p>

            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="4" id="ifex23">
y = 3
if y==3:
	print("y is 3")
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifex23','ifex23Out')">Run</button>
                </div>
            </form>

            <pre id="ifex23Out"></pre>
			<div class="alert alert-info">Note that we have "y==3" instead of "y=3". This is very important syntax in Python as well as other programming languages like C++ or Java. Mostly if you are trying to see match in condition, "==" is used instead of "=".</div>
			</br>
            </br>
            <p>We can also use > and = together at the same time.</p>

            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="7" id="ifex243">
x = 3
if x>=3:
	print("x is greater than or equal to 3")

y = 4
if y<=5:
	print("y is less than or equal to 5")
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifex243','ifex243Out')">Run</button>
                </div>
            </form>

            <pre id="ifex243Out"></pre>
            <p>In the first example, the condition is true if x is greater than or equal to 3. In second example, the condition is true if y is less than or equal to 5.</p>


        </div>










        <div class="well">
            <div><h2>Extension on variable scope with if statements</h2></div>
			<p>Let's see how variables work with the if statement.</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="7" id="ifex3">
a = 5
if a > 3:
	b = a + 3
	c = b - 3
print (b)
print (c)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifex3','ifex3Out')">Run</button>
                </div>
            </form>

            <pre id="ifex3Out"></pre>
			<p>The if statement's condition is true and so all the lines in the if statement were executed. Therefore the variables "a" and "b" were defined and we could print these variables. Unlike the function which didn't have control of variable outside of the function, the if statement's lines can be executed like normal lines as long as the if statement's condition is true.</p>
			<br/>
			<p>Let's see another example</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="7" id="ifex4">
a = 2
if a > 3:
	b = a + 3
	c = b - 3
print (b)
print (c)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifex4','ifex4Out')">Run</button>
                </div>
            </form>

            <pre id="ifex4Out"></pre>
			<p>Here we have an error. Firstly, the if statement wasn't executed as the condition was false. As a result, variables "b" and "c" were not defined, so we get an error when trying to print out variables "b" and "c".</p>

        </div>


        <div class="well">
			<div><h2>If statement in function</h2></div>			
			<p>Since we learned function, let's see an example of function with if statement.</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="5" id="ifex5">
def function_with_if(x):
	if x>5:
		print("the value is greater than 5")
a = 7
function_with_if(a)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifex5','ifex5Out')">Run</button>
                </div>
            </form>

            <pre id="ifex5Out"></pre>


        </div>

        <div class="well">
			<div><h2>else</h2></div>
			<p>If the if statement is not true, we can have a backup statement, which is "else".</p>
			<p>You do not need to add any other condition like you do in the if statement. It just takes all opposite possibilities of the if statement's condition.</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="7" id="ifex7">
x = 5
if x>7:
	print("x is greater than 7")
else:
	print("x is not greater than 7")
# here we have an else statement. This takes all conditions in case x<=7
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifex7','ifex7Out')">Run</button>
                </div>
            </form>

            <pre id="ifex7Out"></pre>
			<p>The line(s) in the else statement must execute if the if statement is false.</p>
			</br>
			<p>If the if statement is true, the line(s) in else statement will not be executed.</p>


            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="7" id="ifex8">
x = 10
if x>7:
	print("x is greater than 7")
else:
	print("x is not greater than 7")
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifex8','ifex8Out')">Run</button>
                </div>
            </form>

            <pre id="ifex8Out"></pre>
			
        </div>


        <div class="well">
			<div><h2>elif</h2></div>
			<p>Using another condition if the first if statement is false.</p>
			<p>You need a condition just like the if statement, and unlike the else statement.</p>
			<p>A simplication of "else if". In other programming languages like C++, "else if" is used instead of "elif".</p>


            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="7" id="ifex9">
x = 20
if x <= 14:
	print("x is less than or equal to 14")
elif x > 15:
	print("x is greater than 15")
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifex9','ifex9Out')">Run</button>
                </div>
            </form>

            <pre id="ifex9Out"></pre>
			
			<p>Our first if statement with condition x<=14 is false. Therefore it goes to elif statement with condition x>15. And this condition was true so "x is greater than 15" is printed.</p>


            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="8" id="ifex10">
x = 13
if x <= 14:
	print("x is less than or equal to 14")
	print("This line will be printed")
elif x > 15:
	print("x is greater than 15")
	print("This line won't be printed")
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifex10','ifex10Out')">Run</button>
                </div>
            </form>

            <pre id="ifex10Out"></pre>
			<p>This time our if statement with condition x<= 14 was true, and so the lines in the elif statement weren't executed.</p>

        </div>

        <div class="well">
			<div><h2>if, elif, else</h2></div>
			<p>Let's see an example of code lines with if, elif, and else together.</p>
			

            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="12" id="ifex17">
x = 10
if x > 14:
	print("x is greater than 14")
	print("This line won't be printed")
elif x <= 8:
	print("x is less than or equal to 8")
	print("This line won't be printed")
elif x ==11:  
	print("x is 11")
	print("This line won't be printed")
else:
	print("x range must be in 14>=x>8") # why?
	print("This line will be printed")
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifex17','ifex17Out')">Run</button>
                </div>
            </form>

            <pre id="ifex17Out"></pre>
			<p>We can make as many elif statements as we want. The order goes by [if, elif, elif..., else]</p>
			<p>In above code example, our if statement and elif statement weren't true. That's why else statement takes all other possibilities that previous if and elif statements didn't count, and execute the lines. To clarify, if "if" and "elif" statements were all false, then the lines in "else" statement will execute whatsoever.</p>
			</br>
			<p>Also, we do not necessarily need to have else statement in the end.</p>


            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="12" id="ifex18">
x = 10
if x > 14:
	print("x is greater than 14")
	print("This line won't be printed")
elif x <= 8:
	print("x is less than or equal to 8")
	print("This line won't be printed")
elif x ==11:  
	print("x is 11")
	print("This line won't be printed")
print("Was anything above printed?")
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifex18','ifex18Out')">Run</button>
                </div>
            </form>

            <pre id="ifex18Out"></pre>
			<p>The code above still went well and "if" and "elif" statements did their best to see if their conditions were correct. Nothing was correct tho, so nothing was printed, except for the last line outside of if statements.</p>


            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="40" id="ifGuesseGame">
import random
maxValue = 10
secretNumber = random.randint(1,maxValue)

def guessNumber(myGuess):
    isCorrectGuess = False;
    if myGuess > secretNumber:
        print("Lower")
    elif myGuess < secretNumber:
        print("Higher")
    else:
        isCorrectGuess = True
    return isCorrectGuess

prompt = "I'm thinking of a number between 1 and " + str(maxValue)
print(prompt)

# We can revisit this example with loops to have any number of guesses
won = False
if not won:
    currentGuess = int(input("Enter a number"))
    if guessNumber(currentGuess):
        print("You win! Congratulations!")
        won = True
if not won:
    currentGuess = int(input("Enter a number"))
    if guessNumber(currentGuess):
        print("You win! Congratulations!")
        won = True
if not won:
    currentGuess = int(input("Enter a number"))
    if guessNumber(currentGuess):
        print("You win! Congratulations!")
        won = True
if not won:
    message = "The secret number was " + str(secretNumber)
    print(message)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifGuesseGame','ifGuesseGameOut')">Run</button>
                </div>
            </form>

            <pre id="ifGuesseGameOut"></pre>

        </div>

        <div class="well">
			<div><h2>The difference between if,if and if,elif</h2></div>
			<p>If we want to check conditions like above, what would be the difference using if twice and if & elif?</p>
			<p>You might have noticed from above examples, but let's go over one more simple example.</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="12" id="ifex56">
x = 5
if x>3:
	print(x)
if x>1:
	print(x)

y = 10
if y>3:
	print(y)
elif y>1:
	print(y)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifex56','ifex56Out')">Run</button>
                </div>
            </form>

            <pre id="ifex56Out"></pre>
			<p>When we are just using two if statements, they are independent, and in our example they both have correct conditions that are x>3 and x>1, so "x" was printed twice from each if statement.</p>
			<p>However, in our if and elif example with variable "y", firstly our if statement with condition y>3 is true, so our if statement worked and the elif statement wasn't even executed even though its condition y>1 is true.</p>
			<p>It's very important to understand how if, elif, and else statements work properly.</p>
			

        </div>


        <div class="well">
			<div><h2>Nested if statements</h2></div>
			<p>We can have if statements inside if statement.</p>

            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="25" id="ifex336">
x = 20
if x>15:
	print("x is greater than 15")
	if x>16:
		print("x is greater than 16")
		if x>17:
			print("x is greater than 17")
			if x>23:
				print("x is greater than 23")
				if x>25:
					print("x is greater than 25")
				else:
					print("x is less than 25")
			else:
				print("x isn't great than 23")
	else:
		print("x is less than or equal to 16")
		if x<=15.5:
			print("x is less than or equal to 15.5")
		else:
			print("x is greater than 15.5")
elif x<=10:
	print ("x is less than or equal to 10")
	if x<=5:
		print ("x is less than or equal to 5") 
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifex336','ifex336Out')">Run</button>
                </div>
            </form>
            <pre id="ifex336Out"></pre>
			<p>This nested if statements keep checking the conditions and go to next if statement inside and inside. We stop at x>25 where the condition is false.</p>

		</div>

        <div class="well">
			<div><h2>Extension on math and function with if and else statements</h2></div>
			<p>This time we will apply if and else statements to math and function we learned last time.</p>

            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="33" id="ifex1336">
import math
def roots(a,b,c):

   #although our use of this function in this example ensures that the a,b, and c are
   #always floats, if we want to use this function in other places, we want to make
   #sure that a,b, and c are still floats when we use them!

   a=a*1.0
   b=b*1.0
   c=c*1.0
   bSqr=pow(b,2)
   var1=4*a*c
   diff=bSqr-var1

   # the if statement allows us to check if the expression doesn't have real roots, so that we can deal with it accordingly, instead of sqrt() throwing an error and stopping the execution of the whole program

   if diff<0:  
       return "This function doesn't have any real roots!"
   else:
       discrm=math.sqrt(diff)
       numeratorPlus=-b+discrm
       numeratorMinus=-b-discrm
       denominator=a*2
       ansPlus=numeratorPlus/denominator
       ansMinus=numeratorMinus/denominator
       return [ansPlus,ansMinus] #Square brackets allow us to return more than 1 value

a=float(input("Enter a!"))
b=float(input("Enter b!"))
c=float(input("Enter c!"))
print(roots(a,b,c))
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifex1336','ifex1336Out')">Run</button>
                </div>
            </form>
            <pre id="ifex1336Out"></pre>
			<p>The function has if and else statements so that it can do the math differently depending on what your input values are.</p>

		</div>



        <div class="well">
			<div><h2>Practice</h2></div>
			<p>(1) Define a variable holding value 5 and write an if statement that will print "I love CSE 113" with the condition true if the variable's value is greater than 3.</p>
			<p>(2) Write a function that prints a doubled value of a passing variable if it is greater than 3, and execute the function with the variable you declared in (1).</p>

            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="20" id="ifex6">
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifex6','ifex6Out')">Run</button>
                </div>
            </form>

            <pre id="ifex6Out"></pre>
			<p>Did it print 10?</p>
			<br/>
			<p>(3) Define a variable holding input value, and write if statements such conditions that if the input value is greater than 10, print "greater than 10", or if the input value is less than 5, print "less than 5", or else print "between 5 and 10".</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="15" id="ifex36">
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ifex36','ifex36Out')">Run</button>
                </div>
            </form>

            <pre id="ifex36Out"></pre>


        </div>




	</div>


</div>
