<div class="container">

    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading"><h1>JavaScript</h1></div>
        </div>
    </div>


    <div class="well">
        <div class="well">
            <h2>What is JavaScript?</h2>
            <ul>
                <li>A programming language that can interact with HTML and web elements</li>
                <li>Allows you to make more interactive and interesting web pages</li>
                <li>For example.....</li>
            </ul>
            <div class="well">
                <p>Mouse over the image below to see an example of how awesome JavaScript is!</p>
                <img id="amazingExample1" onmouseover="toTextImage()" onmouseout="toPlainImage()"
                     src="images/plainImageExample1.png">
                <br>
            </div>
            <div class="well">
                <p>Or.....</p>
                <p>How many pieces of pizza did you eat?</p>
                <input id="pizzaExample">
                <button type="button" onclick="pizzaFunction()">Get Advice</button>
                <p id="pizzaOutput"></p>
                <br></div>
            <div class="well">
                <p>Or, if you're looking for a bit more practicality:</p>
                <p>This button has last been pushed at:</p>
                <p id="demo">The button has not yet been pushed! Go push the button!!! </p>
                <button type="button" onclick="getDate()">Push the button!</button>
                <br>
            </div>
            <h2>JavaScript Syntax</h2>
            <p>Although JavaScript and Python are both programming languages, and do have many similarities, they are
                not
                the same language, and do have some differences that we will need to be aware of while writing code:</p>
            <h3>Differences from Python</h3>
            <b>Comments</b>
            <p>All comments in Python are preceded by a '#'. However in JavaScript, they are preceded by a '//'. </p>
            <br>
            <b>Variable Declarations</b>
            <p>In JavaScript, you must declare all variables before you use them. This is done once for each variable
                using the <u>var</u> keyword:</p>
                    <pre>
var fluffy;
fluffy=9;
fluffy="puppies"

//declaration and assignment can happen in the same line:
var numberOfHappyKittens=100;

//several variables can be declared in the same declaration statement:
var bunnies, moreBunnies, evenMoreBunnies, tooManyBunnies;
bunnies=5;
moreBunnies=17;
evenMoreBunnies=77;
tooManyBunnies=765293;
                    </pre>
            <br>
            <b>Terminators</b>
            <p>These unfortunately have nothing to do with killer robots from the future. In this case, a terminator is
                simply a
                semicolon (;). While in Python, each statement was separated by a new line. In JavaScript, a semicolon
                is added
                at the end of each statement to mark its end.</p>
            <p>Python:</p>
                    <pre>
#Each statement gets its own line
number1=5+6
number2=7

#Writing code like this will give you errors
number1=5+6  number2=7
                    </pre>
            <p>JavaScript:</p>
                    <pre>
//Each statement ends with a semicolon
var number1=5+6;
var number2=7;
// Technically you can write code like this, however it isn't as easy to read
var number1=5+6; var number2=7;
                    </pre>
            <br>
            <b>Curly Braces</b>
            <p>Curly braces, {}, are used to mark the beginning and end of functions, loops, if statements and else
                statements. Because of these, JavaScript is not dependant on indentation the way that Python is.
                However, if you are not careful about your closing braces, you may end up with lines of code inside
                loops or functions that they were not supposed to be in!</p>
            <p>Python:</p>
                    <pre>
#This is outside the function
def fancyFunction():
    #This is inside the function
    i=0
    while(i<10):
        #This is inside the while loop inside the function
        i=i+1
    #This is back outside the while loop, but still in the funciton
#This is back outside the function
                    </pre>
            <p>JavaScript:</p>
                    <pre>
//This is outside the function
function fancyFunction(){
//This is inside the function
var i=0;
    while(i<10){
    //This is inside the while loop and inside the function
//This is still inside the while loop and the function
i=i+1;

}
        //This is back outside the while loop, but not outside the function

}
//This is outside the function again
                    </pre>
            <br>
            <b>Functions</b>
            <p>As seen in the above example, when defining a JavaScript function, the word function is used instead
                of 'def', as was used in Python.</p>
            <b>Boolean Operators</b>
            <p>Although the EQUAL operator is the same in JavaScript as it is in Python (==), the OR and AND operators
                are different. In JavaScript, OR is || and AND is &&. </p>

            <h2>JavaScript Functions</h2>
            <p>We'll look at a few fairly simple examples of JavaScript functions before jumping into integrating
                JavaScript
                into HTML files</p>
            <pre>
function addTwo(number){
    var answer=number+2;
    return answer;
}

//This function uses the boolean AND operator:

function betweenTwoAndTen(number){
    return ((number>=2)&&(number<=10));
}

//This function uses the boolean OR operator:

function notBetweenTwoAndTen(number){
    return ((number<2)||(number>10))
}
            </pre>
            <br>
            <p>Some functions that we will use when we integrate JavaScript into HTML files:</p>
            <ul>
                <li>getElementById(elementId)
                    <ul>
                        <li>Called on the document object, this function returns a HTML element according to its
                            assigned id value
                        </li>
                    </ul>
                </li>
                <li>innerHTML
                    <ul>
                        <li>Called on a HTML element. Allows the value inside certain tags to be reset (such as
                            paragraph tags)
                        </li>
                    </ul>
                </li>
                <li>src
                    <ul>
                        <li>Called on an image. Allows the source of an image to be reset.</li>
                    </ul>
                </li>
                <li>value
                    <ul>
                        <li>Called on an input box. Returns the value in the input box.</li>
                    </ul>
                </li>
            </ul>
            <br>
            <h2>Using JavaScript Functions in a HTML File</h2>
            <p>JavaScript functions used in an HTML file are all defined within script tags (&ltscript&gt and
                &lt/script&gt)</p>
            <h3>Buttons</h3>
            <p>We're going to make a brief return to HTML here to learn how to make buttons. Here is a very boring
                button:</p>
            <button type="button">Uninteresting Button</button>
            <p>This button was created with the following line of HTML code:</p>
            <pre>&ltbutton type="button"&gtUninteresting Button&lt/button&gt</pre>
            <p>As is expected from HTML, we start and end our button with the open and close tags for a button. Inside
                the opening tag,
                the type of our button, "button", is specfied, and between the opening and closing tags, we see the
                button label, Uninteresting
                Button.</p>
            <p>Notice that when clicked, this button doesn't do anything. However, with a bit of JavaScript,
                this button can become much more fun!</p>
            <button type="button" onclick="interestingButtonExample1()">Interesting Button</button>
            <p id="ButtonExample"></p>
            <p>The following code was needed to make the more interesting button:</p>
            <pre>
&ltbutton type="button" onclick="interestingButtonExample1()"&gtInteresting Button&lt/button&gt

&ltp id="ButtonExample"&gt&lt/p&gt

&ltscript&gt;

function interestingButtonExample1(){
    document.getElementById("ButtonExample").innerHTML ="The button has been pushed!!!!";
}
&lt/script&gt

            </pre>
            <p>Here, the structure of the button is the same, with the exception of adding the onclick element inside
                the
                opening button tag. This defines what will happen when the button is clicked. In this case, it is a
                function call
                to a function defined in the script section of the HTML file. After the button tags, we see the
                paragraph tags.
                Although there is initially nothing in the paragraph tags, we see that the opening tag has an id label
                set to
                "ButtonExample".</p>
            <p>Inside the script tags, the function called by the onclick section of the button tag is defined. The
                function,
                interestingButtonExample1(), accesses the paragraph tags specified above using the id label
                "ButtonExample", and then
                sets the inside of the tags to "The button has been pushed!!!!". This changes the HTML so that it
                displays the text
                "The button has been pushed!!!!" in the specified spot at the specified time (when the button has been
                clicked).</p>
            <p>Here's another example. This time, there are several different buttons with onclick functions that all
                reference
                the same paragraph tag.</p>

            <p>The</p>
            <button type="button" onclick="dogButton()">DOG</button>
            <button type="button" onclick="catButton()">CAT</button>
            <button type="button" onclick="duckButton()">DUCK</button>
            <button type="button" onclick="pigButton()">PIG</button>
            <p>says:</p>
            <p id="noise"></p>

            <p>Here is the code used to make this example:</p>
            <pre>
&ltp&gtThe&lt/p&gt
&ltbutton type="button" onclick="dogButton()"&gtDOG&lt/button&gt
&ltbutton type="button" onclick="catButton()"&gtCAT&lt/button&gt
&ltbutton type="button" onclick="duckButton()"&gtDUCK&lt/button&gt
&ltbutton type="button" onclick="pigButton()"&gtPIG&lt/button&gt
&ltp&gtsays:&lt/p&gt
&ltp id="noise"&gt&lt/p&gt

&ltscript&gt;
function dogButton() {
    document.getElementById("noise").innerHTML = "Woof!";
    }
function catButton() {
    document.getElementById("noise").innerHTML = "Meow!";
    }
function duckButton() {
    document.getElementById("noise").innerHTML = "Quack!";
    }
function pigButton() {
    document.getElementById("noise").innerHTML = "Oink!";
    }

&lt/script&gt



            </pre>
            <p><b>Note: </b> If you have more than one element in your document with the same id, getElementById() will
                return
                whichever one appears first in the document!</p>
            <br>
            <h3>Using External Files for JavaScript Functions</h3>
            <p>When working with a large number of JavaScript functions, it may be helpful to define all the functions
                in an
                external file. This file needs to:</p>
            <ul>
                <li>Have a .js extension</li>
                <li>Contain no script tags</li>
                <li>Be referenced in the HTML file as follows:
            <pre>
             &ltscript src="allMyFunctions.js"&gt&lt/script&gt
            </pre>
                </li>
            </ul>
            <br>
            <h3>Inputs</h3>
            <p>Input boxes are created using a single &ltinput&gt tag as follows</p>
            <pre>&ltinput&gt</pre>
            <p>Like buttons, however, without any JavaScript, these are pretty much useless. We will need an id for the
                input box, as well as a button to execute our function.</p>
            <input id="greaterThan5">
            <button type="button" onclick="greaterThanFive()">Submit Number</button>
            <p>Is this number greater than 5?</p>
            <p id="greaterThan5Answer"></p>
            <br>
            <p>Let's take a look at the code behind this example:</p>
            <pre>

&ltinput id="greaterThan5"&gt&ltbutton type="button" onclick="greaterThanFive()"&gtSubmit Number&lt/button&gt

&ltp&gtIs this number greater than 5?&lt/p&gt

&ltp id="greaterThan5Answer"&gt&lt/p&gt

&ltscript&gt
function greaterThanFive(){
    //gets the value from the input box
    var x=document.getElementById("greaterThan5").value;
    var output;
    //checks if x is Not a Number (NaN). If if is NaN, then the output message asks for a new input
    if(isNaN(x)){output="This is not a number. Please enter a number";}
    //However, if it is a number....
    else {
        //check if the number is greater than 5, and set the output message accordingly
        if (x > 5) {
            output = "Yes, this number is greater than 5";
        }else{
            if(x==5){output="This number is 5!";}
            else{
            output="No, this number is less than 5";}
        }
    }
    //Then, set the innerHTML of the answer area to the output message
    document.getElementById("greaterThan5Answer").innerHTML=output;
    }

&lt/script&gt



            </pre>
            Notice how the indentation doesn't matter in JavaScript like it does in Python.
            <br>
            <div class="well">
                <p>So what about that very first example that we looked at, where the imaged changed every time you mouse
                    over or mouse out of the image? It is in fact not magic, like the image would have you believe, although it is
                    JavaScript. There are simply 2 images stored in an images folder, and 2 functions which reset the source image
                of the same image tag depending on the event that occurs:</p>
                <pre>

                    //The image tag in question. Note that onmouseover calls toTextImage(), and onmouseout calls toPlainImage()
                   &ltimg id="amazingExample1" onmouseover="toTextImage()" onmouseout="toPlainImage()" src="images/plainImageExample1.png"&gt

                    &ltscript&gt
                    function toTextImage() {

                    //gets the image in the designated image tags
                    var image = document.getElementById('amazingExample1');

                    //resets the source of the image to the text image
                    image.src = "images/TextImageExample1.png";
                }


                function toPlainImage(){

                    //gets the image in the designated image tags
                    var image=document.getElementById('amazingExample1');

                    //resets the source of the image to the plain image
                    image.src="images/plainImageExample1.png";
                }

                    &lt/script&gt


                </pre>
                <br>
                <p>So now by way of events, we've seen onclick, onmouseover, and onmouseout. To take a look at all the defined events
                in JavaScript, take a look <a href="here">http://www.w3schools.com/jsref/dom_obj_event.asp</a></p>




                <p>....pssssttttt..... you know that fancy in-browser python interpreter that we've been using this semester? Take a look
                    at the code that's included in the HTML file:</p>
                <pre>
                                <!-- Code from http://www.skulpt.org -->
            &ltform role="form"&gt
                &ltdiv class="form-group"&gt
&lttextarea class="form-control" rows="26" id="practice12"&gt


&lt/textarea&gt
                    &ltbr/&gt
                    &ltbutton class="btn btn-default" type="button" onclick="runit('practice12','practice12Out')"&gtRun
                    &lt/button&gt
                &lt/div&gt
            &lt/form&gt

            &ltpre id="practice12Out">&lt/pre&gt
                &lt/div&gt
                &ltbr&gt





                </pre>



            </div>


            <p>Want to review your JavaScript, or learn some more JavaScript? Take a look at the
                <a ref="w3 Schools JavaScript Tutorial">http://www.w3schools.com/js/default.asp</a></p>
            <br>
            <br>

            <script>
                function toTextImage() {
                    var image = document.getElementById('amazingExample1');
                    image.src = "images/TextImageExample1.png";
                }
                function toPlainImage() {
                    var image = document.getElementById('amazingExample1');
                    image.src = "images/plainImageExample1.png";
                }
                function pizzaFunction() {
                    var pieces = document.getElementById("pizzaExample").value;
                    var output = "Input not valid. Please input a number!";
                    if (pieces == 0) {
                        output = "That is sad. Go eat some pizza!";
                    }
                    if ((pieces > 0) && (pieces < 5)) {
                        output = "You should do a happy dance because pizza is delicious!";
                    }
                    if ((pieces >= 5) && (pieces < 10)) {
                        output = "That's a lot of pizza.... Maybe you should go sit quietly somewhere and digest...";
                    }
                    if ((pieces >= 10) && (pieces < 100)) {
                        output = "You should probably go see a doctor now....";
                    }
                    if (pieces >= 100) {
                        output = "The fact that you haven't exploded yet is kind of impressive....";
                    }
                    document.getElementById("pizzaOutput").innerHTML = output;
                }
                function getDate() {
                    document.getElementById("demo").innerHTML = Date();
                }
                function interestingButtonExample1() {
                    document.getElementById("ButtonExample").innerHTML = "The button has been pushed!!!!";
                }
                function dogButton() {
                    document.getElementById("noise").innerHTML = "Woof!";
                }
                function catButton() {
                    document.getElementById("noise").innerHTML = "Meow!";
                }
                function duckButton() {
                    document.getElementById("noise").innerHTML = "Quack!";
                }
                function pigButton() {
                    document.getElementById("noise").innerHTML = "Oink!";
                }
                function greaterThanFive() {
                    //gets the value from the input box
                    var x = document.getElementById("greaterThan5").value;
                    var output;
                    //checks if x is Not a Number (NaN). If if is NaN, then the output message asks for a new input
                    if (isNaN(x)) {
                        output = "This is not a number. Please enter a number";
                    }
                    //However, if it is a number....
                    else {
                        //check if the number is greater than 5, and set the output message accordingly
                        if (x > 5) {
                            output = "Yes, this number is greater than 5";
                        } else {
                            if (x == 5) {
                                output = "This number is 5!";
                            }
                            else {
                                output = "No, this number is less than 5";
                            }
                        }
                    }
                    //Then, set the innerHTML of the answer area to the output message
                    document.getElementById("greaterThan5Answer").innerHTML = output;
                }
            </script>

            Notice how the indentation doesn't matter in JavaScript like it does in Python.
        </div>


        <div class="well">

            <h2>AJAX: Asynchronous Javascript</h2>

            <p>
                The goal: Make interactive pages that do not require a refresh whenever a user runs a python script on
                the server.
            </p>
            <p>
                We have seen how our users can access our python script by directly going to the url that specifies the
                script and typing the parameters after a question mark in this url. This is great for web API's, but not
                for users who want to access your site through a browser. To view interactive data through a browser we
                wil use AJAX to build an HTTP request to our python scripts.
            </p>

            <pre>
function getReviews() {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState == 4) {
            document.getElementById("reviewResults").innerHTML = xmlhttp.responseText;
        }
    };
    xmlhttp.open("GET", "cgi-bin/interface.cgi?request=getReviews", true);
    xmlhttp.send();
}
</pre>
            <br/>
            <p>
                In this example we create an HTTP request to "cgi-bin/interface.cgi?request=getReviews" and place the
                results in an HTML element with id "reviewResults".
            </p>
            <br/><br/>
            <p>
                We call this function in our HTML with the following code:
            </p>

            <pre>
&lt;h3&gt;&lt;a href=&quot;#&quot; onclick=&quot;aggregateReviews(); return false;&quot;&gt;
&lt;span class=&quot;label label-primary&quot;&gt;Get Aggregate Results&lt;/span&gt;&lt;/a&gt;&lt;/h3&gt;
&lt;div id=&quot;aggregateResults&quot;&gt;&lt;/div&gt;
            </pre>

            <br/>
            <p>
                When the link is clicked, it will call our AJAX function and place the results in the "aggregateResults"
                without refreshing the page. This makes our site much easier to use since our users do not even have to
                make their own HTTP requests via custom urls since we do it for them.
            </p>
        </div>
    </div>
</div>