<div class="container">
    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>List</h1></div>
        </div>
    </div>
    <div class="well">
        <div class="well">
            <h2>List Overview</h2>
            <ul>
                <li>
                    <dl>
                        <dt>Definition:</dt>
                        <dd>A list is data structure that holds an ordered collection of items. You can store a <b><em>sequence</em></b> of items in a list. For example, you can imagine you have a shopping list where you have a <b><em>sequence</em></b> of items to buy.</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>Syntax:</dt>
                        <dd>A list of items should be enclosed in square brackets(i.e. [ ]) so that Python understands that you are specifying a list. And you put commas in between items whereas you probably have each item on a seperate line in your real world shopping list.</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>Operation:</dt>
                        <dd>In the following lecture, we will introduce some simple operations for list. Such as add, remove, slice and so on.</dd>
                    </dl>
                </li>
            </ul>
        </div>

        <div class="well">
            <h2>Create Your Shopping List</h2>
            <div class="well">
                <h5>Your real world shopping list:</h5>
                    <ul>
                        <li>Apples</li>
                        <li>Milk</li>
                        <li>Eggs</li>
                    </ul>
            </div>


            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="4" id="ListDefinition">
shoppingList=['Apples', 'Milk', 'Eggs', 'Bread', 'Beef', 'Hat', 'Gloves']

print(shoppingList)
</textarea>
                        <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ListDefinition','ListDefinitionOut')">Run</button>
                </div>
            </form>

                <pre id="ListDefinitionOut"></pre>

            <div class="alert alert-info">Note: we just use a default way in Python to print list. Actually, it is not a good method to show list.</div>
        </div>
        <div class="well">
            <h2>Elements of List</h2>
            <div class="well">
                <dl>
                    <dt>What can be the elements of <b><em>a</em></b> list?</dt>
                    <dd>Any types of value -- a integer, double, string, bool, variable and even list itself.</dd>
                    <br />
                    <dt>Remember the function <em>len()</em>?(In <i>String</i> part.)</dt>
                    <dd>The function <em>len()</em> can be used to counter the number of elements in a list.</dd>
                </dl>
            </div>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="7" id="ListElements">
number=7
shoppingList=['Apples', 'Milk', 'Eggs', 'Bread', 'Beef', 'Hat', 'Gloves']
wholeList=[3, 2.7, 'Math', True, number, shoppingList]

print(wholeList)
print(len(shoppingList))
print(len(wholeList))
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ListElements','ListElementsOut')">Run</button>
                </div>
            </form>
            <pre id="ListElementsOut"></pre>
        </div>
        <div class="well">
            <h2>Index of List</h2>
            <div class="well">
                <p>Remember what we have known about String?</p>
                <blockquote>
                    <pre>
s="FancyString1"
t=s[5]
print(t)
                    </pre>
                </blockquote>
                <p>We got:</p>
                <blockquote>
                    <pre>
S
                    </pre>
                </blockquote>
                <p><b>Just like String, the elements in the List are indexed, starting with 0.</b></p>
            </div>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="6" id="ListIndex">
shoppingList=['Apples', 'Milk', 'Eggs', 'Bread', 'Beef' ,'Hat', 'Gloves']

print('shoppingList[0] is: ' + shoppingList[0])
print('shoppingList[5] is: ' + shoppingList[5])
print('shoppingList[6] is: ' + shoppingList[6])
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ListIndex','ListIndexOut')">Run</button>
                </div>
            </form>
            <pre id="ListIndexOut"></pre>
            <hr />

            <dl>
                <dt>What if the index is a negative number?</dt>
                <dd>Well. -1 means the last one, -2 means the second last one, and so on.</dd>
            </dl>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="6" id="ListIndexNegative">
shoppingList=['Apples', 'Milk', 'Eggs', 'Bread', 'Beef' ,'Hat', 'Gloves']

print('shoppingList[-1] is: ' + shoppingList[-1])
print('shoppingList[-2] is: ' + shoppingList[-2])
print('shoppingList[-7] is: ' + shoppingList[-7])
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ListIndexNegative','ListIndexNegativeOut')">Run</button>
                </div>
            </form>
            <pre id="ListIndexNegativeOut"></pre>
            <hr />

            <p>Now we have another way to print List:</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="9" id="ListIndexPrint">
shoppingList=['Apples', 'Milk', 'Eggs', 'Bread', 'Beef' ,'Hat', 'Gloves']
print(shoppingList[0])
print(shoppingList[1])
print(shoppingList[2])
print(shoppingList[3])
print(shoppingList[4])
print(shoppingList[5])
print(shoppingList[6])
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ListIndexPrint','ListIndexPrintOut')">Run</button>
                </div>
            </form>
            <pre id="ListIndexPrintOut"></pre>
            <hr />

            <p>We can use any element in List:</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="11" id="ListIndexUsage">
shoppingList=['Apples', 'Milk', 'Eggs', 1, 7, 14, 3]
stringA=shoppingList[1]
stringB=shoppingList[1]+' & '+shoppingList[2]
numberA=shoppingList[4]
numberB=shoppingList[4]+shoppingList[5]

print('stringA is: ' + stringA)
print('stringB is: ' + stringB)
print('numberA is: ' + str(numberA))
print('numberB is: ' + str(numberB))
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ListIndexUsage','ListIndexUsageOut')">Run</button>
                </div>
            </form>
            <pre id="ListIndexUsageOut"></pre>
            <hr />

            <p>What about elements of List-in-List?</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="12" id="ListIndexOfIndex">
shoppingListA=['Apples', 'Milk']
shoppingListB=['Eggs', 'Bread', 'Beef']
shoppingListC=['Hat','Gloves']
shoppingList=[shoppingListA, shoppingListB, shoppingListC]

print(shoppingList)
print(shoppingList[1])
print(shoppingListB)
print(shoppingList[0][1])
print(shoppingList[1][2])
print(shoppingList[0][1]+' & '+shoppingList[1][2])
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ListIndexOfIndex','ListIndexOfIndexOut')">Run</button>
                </div>
            </form>
            <pre id="ListIndexOfIndexOut"></pre>
        </div>
        <div class="well">
            <h2>Build-in methods of List</h2>
            <div class="well">
                <p>
                    When we learned String, some String functions are introduced:
                    <ul>
                        <li>.find()</li>
                        <li>.count()</li>
                        <li>.strip()</li>
                        <li>...</li>
                    </ul>
                    These functions are already written in Python, so we often call these function as build-in methods(functions). List also has some build-in methods(functions).
                </p>
            </div>
            <hr />

            <div class="well">
                <h3>.append()</h3>
                <p>This method is used to append an element at the end of a List.</p>
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="9" id="ListMethodAppend">
shoppingList=['Apples', 'Milk', 'Eggs']
print(shoppingList)

shoppingList.append('Bread')
print(shoppingList)

shoppingList.append('Beef')
print(shoppingList)
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('ListMethodAppend','ListMethodAppendOut')">Run</button>
                    </div>
                </form>
                <pre id="ListMethodAppendOut"></pre>
            </div>
            <hr />

            <div class="well">
                <h3>.pop()</h3>
                <p>This method is used to remove an element at the end of List, and return the value of that element.</p>
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="11" id="ListMethodPop">
shoppingList=['Apples', 'Milk', 'Eggs', 'Bread', 'Beef']
print(shoppingList)

valueA=shoppingList.pop()
print('valueA is: ' + valueA)
print(shoppingList)

valueB=shoppingList.pop()
print('valueB is: ' + valueB)
print(shoppingList)
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('ListMethodPop','ListMethodPopOut')">Run</button>
                    </div>
                </form>
                <pre id="ListMethodPopOut"></pre>
                <div class="alert alert-info">Note: Actually these two methods(<i>.append()</i> and <i>.pop()</i>) can maintain an very important <i>data structure</i> called <em>Stack</em>. You can learn more about <em>Stack</em> by taking a <i>data structure</i> class, like CSE250. :P</div>
            </div>
            <hr />

            <div class="well">
                <h3>.sort()</h3>
                <p>
                    You can easily use this function in 2 conditions:
                    <ul>
                        <li>All elements are String. The function will sort List in a <em>dictionary</em> order.</li>
                        <li>All elements are Integer/Double. The function will sort List in an <em>increasing</em> order.</li>
                    </ul>
                </p>
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="12" id="ListMethodSort">
shoppingList=['Apples', 'Milk', 'Eggs', 'Bread', 'Beef']
print(shoppingList)

shoppingList.sort()
print(shoppingList)

numberList=[1, 7, 3.2, 9.9, 8]
print(numberList)

numberList.sort()
print(numberList)
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('ListMethodSort','ListMethodSortOut')">Run</button>
                    </div>
                </form>
                <pre id="ListMethodSortOut"></pre>
            </div>
        </div>

        <div class="well">
            <h2>Delete Element by Index</h2>
            <div class="well">
                    <h3>del()</h3>
                    <p>This function can delete element in List by index.</p>
            </div>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="9" id="ListDeleteByIndex">
shoppingList=['Apples', 'Milk', 'Eggs', 'Bread', 'Beef']
print(shoppingList)

del(shoppingList[1])
print(shoppingList)

del(shoppingList[1])
print(shoppingList)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ListDeleteByIndex','ListDeleteByIndexOut')">Run</button>
                </div>
            </form>
            <pre id="ListDeleteByIndexOut"></pre>
        </div>

        <div class="well">
            <h2>Function <i>in</i></h2>
            <p>As mentioned this function in the lecture of String, we can use this function to test is a certain element in a List or not.</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="6" id="ListIn">
shoppingList=['Apples', 'Milk', 'Eggs', 'Bread', 'Beef']

print( 'Apples' in shoppingList )
print( 'hat' in shoppingList )
print( 5 in shoppingList )
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ListIn','ListInOut')">Run</button>
                </div>
            </form>
            <pre id="ListInOut"></pre>
        </div>

        <div class="well">
            <h2>Slicing Operation</h2>
            <div class="well">
                Slicing operation can be used to get a sub-sequence of List. The format is:
                <dl>listVariableName[beginIndex : endIndex]</dl>
                <dd>In which <t>beginIndex</t> and <t>endIndex</t> can be blank, if so the blank means beginning or ending. The function just slice the List from <em><b>beginIndex</b></em> to <em><b>endIndex - 1</b></em>.</dd>
            </div>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="12" id="ListSlice">
shoppingList=['0.Apples', '1.Milk', '2.Eggs', '3.Bread', '4.Beef', '5.Hat', '6.Gloves']
subListA=shoppingList[1:5]
subListB=shoppingList[:5]
subListC=shoppingList[1:]
subListD=shoppingList[:]

print(shoppingList)
print(subListA)
print(subListB)
print(subListC)
print(subListD)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('ListSlice','ListSliceOut')">Run</button>
                </div>
            </form>
            <pre id="ListSliceOut"></pre>
            <hr/>

            <p>Actually you can do this slicing operation to String. Let's try!</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="12" id="StringSlice">
mainString='0123456789'
subStringA=mainString[1:5]
subStringB=mainString[:5]
subStringC=mainString[1:]
subStringD=mainString[:]

print(mainString)
print(subStringA)
print(subStringB)
print(subStringC)
print(subStringD)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('StringSlice','StringSliceOut')">Run</button>
                </div>
            </form>
            <pre id="StringSliceOut"></pre>
            </div>

        <div class="well">
            <h2>Redo Problem 4 in Homework 2</h2>
            <div class="well">
                <blockquote>
                    <code>
                        def isCommonWebAddressFormat(inputURL):
                    </code>
                    <br />
    Define a function that determines if an input string is in the form of a web address that begins with "http" and ends in either ".com" ".net" or ".org". If the input string ends with one of these suffixes and starts with "http" the function will return True, otherwise it will return False.
                    <br />
    Writing this function will require a bit of string manipulation. It may be helpful to review the <a href="?lectures/StringLecture.html">strings lecture</a>.
                    <div class="container">
                        Examples:<br/>
                        <kbd>isCommonWebAddressFormat("http://www.w3schools.com") == True</kbd><br/>
                        <kbd>isCommonWebAddressFormat("https://www.python.org") == True</kbd><br/>
                        <kbd>isCommonWebAddressFormat("http://stackoverflow.com") == True</kbd><br/>
                        <kbd>isCommonWebAddressFormat("http://www.speedtest.net") == True</kbd><br/><br/>
                        <kbd>isCommonWebAddressFormat("http://weather.gov") == False</kbd><br/>
                        <kbd>isCommonWebAddressFormat("www.google.com") == False</kbd><br/>
                        <kbd>isCommonWebAddressFormat("http://buffalo.edu") == False</kbd><br/>
                        <kbd>isCommonWebAddressFormat("website") == False</kbd>
                    </div>
                </blockquote>
            </div>
            <hr />

            <div class="well">
                <p>Our previous solution with function <i>.find()</i> and <i>.rfind()</i>:</p>
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="12" id="StringHWFind">
def isCommonWebAddressFormat(inputURL):
    if inputURL.find('http')==0:
        lengthURL=len(inputURL)
        if (inputURL.rfind('.com') == lengthURL - 4) or (inputURL.rfind('.net') == lengthURL - 4) or (inputURL.rfind('.org') == lengthURL - 4):
            return True
    else:
        return False

print("http://www.google.com -> " + str(isCommonWebAddressFormat("http://www.google.com")))
print("www.google.com -> " + str(isCommonWebAddressFormat("www.google.com")))
print("fhttp://www.google.com -> " + str(isCommonWebAddressFormat("fhttp://www.google.com")))
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('StringHWFind','StringHWFindOut')">Run</button>
                    </div>
                </form>
                <pre id="StringHWFindOut"></pre>
            </div>
            <hr />

            <div class="well">
                <p>New solution using <b>slicing operation</b> and <b>function <i>in</i></b>:</p>
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="7" id="StringHWSlicing">
def isCommonWebAddressFormat(inputURL):
    return (inputURL[:4] == 'http') and (inputURL[-4:] in ['.com', '.net', '.org'])

print("http://www.google.com -> " + str(isCommonWebAddressFormat("http://www.google.com")))
print("www.google.com -> " + str(isCommonWebAddressFormat("www.google.com")))
print("fhttp://www.google.com -> " + str(isCommonWebAddressFormat("fhttp://www.google.com")))
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('StringHWSlicing','StringHWSlicingOut')">Run</button>
                    </div>
                </form>
                <pre id="StringHWSlicingOut"></pre>
            </div>
        </div>
    </div>
</div>