<div class="container">
    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>Loop</h1></div>
        </div>
    </div>
    <div class="well">
        <div class="well">
            <h2>For Loop Overview</h2>
            <ul>
                <li>
                    <dl>
                        <dt>Definition:</dt>
                        <dd>The <i>for</i> loop is a statement which iterates over a sequence of object. The loop will go through each item in a sequence.</dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>Syntax:</dt>
                        <dd><code><b>for</b> <i>variable</i> <b>in</b> <i>List</i><b>:</b></code></dd>
                        <dd>In this <b>for statement</b>, the value of <i>variable</i> will be one element in <i>List</i> by sequence for each loop.</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="well">
            <h2>For Statement</h2>
            Let's see some simple <b>for statements</b> first.
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="7" id="LoopDefinition">
numberList=[1,3,5,4,2]
counter=0

for number in numberList:
    print('The value at index ' + str(counter) + ' is ' + str(number))
    counter+=1
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('LoopDefinition','LoopDefinitionOut')">Run</button>
                </div>
            </form>
            <pre id="LoopDefinitionOut"></pre>
            <!--End of Reference Code-->
            <hr />

            The variable in the <b>for statement</b> can be any type of value, it depend on the elements in <i>List</i>.
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="7" id="LoopDefinitionType">
wholeList=[3, 5.7, False, 'Buffalo', ['Eggs', 'Milk']]
counter=0

for item in wholeList:
    print('The value at index ' + str(counter) + ' is ' + str(number))
    counter+=1
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('LoopDefinitionType','LoopDefinitionTypeOut')">Run</button>
                </div>
            </form>
            <pre id="LoopDefinitionTypeOut"></pre>
            <!--End of Reference Code-->
        </div>

        <div class="well">
            <h2>Simple Calculation</h2>
            <p>If we want to know the sum of all elements in a <i>List</i> which contains only numbers, what should we do without <b>for statement</b>?</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="5" id="NoLoopCalculation">
numberList=[1,3,5,4,2]
sum=numberList[0]+numberList[1]+numberList[2]+numberList[3]+numberList[4]

print('The value of sum is: '+str(sum))
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('NoLoopCalculation','NoLoopCalculationOut')">Run</button>
                </div>
            </form>
            <pre id="NoLoopCalculationOut"></pre>
            <!--End of Reference Code-->
            <hr />
            <p>Now we have <b>for statement</b>:</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="7" id="LoopCalculation">
numberList=[1,3,5,4,2]
sum=0
for number in numberList:
    sum=sum+number

print('The value of sum is: '+str(sum))
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('LoopCalculation','LoopCalculationOut')">Run</button>
                </div>
            </form>
            <pre id="LoopCalculationOut"></pre>
            <!--End of Reference Code-->
            <div class="alert alert-info">Actually, <b>for statement</b> can reduce lots of elaborate work. Assuming if you have over 100 elements to add, you need to write lots of code without <b>for statement</b>. But having <b>for statement</b>, you even need not to modify your code.</div>
        </div>

        <div class="well">
            <h2>Function <i>range()</i></h2>
            <div class="well">
                <dl>
                    <dt><b>range</b>(<i>startNumber</i>, <i>endNumber</i>, <i>stepNumber</i>)</dt>
                    <dd>
                        <ul>
                            <li>The <b>range</b> function will return a List start with <i>startNumber</i> and end below <i>endNumber</i> with a step of <i>stepNumber</i>. You can get a better understanding in the example below.</li>
                            <li>The default value for stepNumber is 1, if you don't use this parameter in this function.</li>
                        </ul>
                    </dd>
                </dl>
            </div>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="10" id="LoopRangeList">
numberList=range(1,9,2)
print(numberList)

numberList=range(1,9)
print(numberList)

numberList=range(9)
print(numberList)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('LoopRangeList','LoopRangeListOut')">Run</button>
                </div>
            </form>
            <pre id="LoopRangeListOut"></pre>
            <!--End of Reference Code-->
            <hr />
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="10" id="LoopRangeStep">
counter=0
sum=0

for number in range(1,11,2):
    sum=sum+number
    print('This is index ' + str(counter) + ', the value of variable number is ' + str(number))
    counter+=1

print('\nThe value of sum is: '+str(sum))
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('LoopRangeStep','LoopRangeStepOut')">Run</button>
                </div>
            </form>
            <pre id="LoopRangeStepOut"></pre>
            <!--End of Reference Code-->
            <hr />

            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="10" id="LoopRangeNoStep">
counter=0
sum=0

for number in range(1,11):
    sum=sum+number
    print('This is index ' + str(counter) + ', the value of variable number is ' + str(number))
    counter+=1

print('\nThe value of sum is: '+str(sum))
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('LoopRangeNoStep','LoopRangeNoStepOut')">Run</button>
                </div>
            </form>
            <pre id="LoopRangeNoStepOut"></pre>
            <!--End of Reference Code-->
        </div>


        <div class="well">
            <h3>Finding Max Value</h3>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="25" id="max">
import random

def findMax(numberList):
    max = -10000  # An arbitrarily small number
    for number in numberList:
        if number > max:
            max = number
    return max


listOfNumbers = [-100, 50, 12, 4, 120, 99, 40, 41]
print(findMax(listOfNumbers))


randomNumbers = []

for i in range(20):
    randomNumbers.append(random.randint(-100, 100))

print(randomNumbers)
highestRandomNumber = findMax(randomNumbers)

print(highestRandomNumber)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('max','maxOut')">Run</button>
                </div>
            </form>
            <pre id="maxOut"></pre>
            <!--End of Reference Code-->
        </div>

        <div class="well">
            <h2>For Statement in Function</h2>
            <p>Let's see a accumulation in a function.</p>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="12" id="LoopFunction">
def accumulationOfList(startNumber, endNumber, stepNumber):
    sum=0
    for number in range(startNumber, endNumber, stepNumber):
        sum+=number
    return sum

begin=1
end=10
step=3
# 1 + 4 + 7 = 12
print('The value of sum is: '+ str(accumulationOfList(begin,end,step)))
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('LoopFunction','LoopFunctionOut')">Run</button>
                </div>
            </form>
            <pre id="LoopFunctionOut"></pre>
            <!--End of Reference Code-->
        </div>

        <div class="well">
            <h2>Break Statement</h2>
            <div class="well">
                <dl>
                    <dt>break</dt>
                    <dl>
                        <ul>
                            <li>Just a word <b>break</b> in a line.</li>
                            <li>The <b>break statement</b> will terminate all the remaining loops in a <b>for statement</b>.</li>
                            <li>The sentences after this loop will continue executing.</li>
                        </ul>
                    </dl>
                </dl>
            </div>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="12" id="LoopBreak">
numberList=[1,3,5,4,2]
counter=0

for number in numberList:
    if(number==4):
        break
    print('The value at index ' + str(counter) + ' is ' + str(number))
    counter+=1

print('\nEnd of loop.')
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('LoopBreak','LoopBreakOut')">Run</button>
                </div>
            </form>
            <pre id="LoopBreakOut"></pre>
            <!--End of Reference Code-->
        </div>

        <div class="well">
            <h2>Continue Statement</h2>
            <div class="well">
                <dl>
                    <dt>continue</dt>
                    <dl>
                        <ul>
                            <li>Just a word <b>continue</b> in a line.</li>
                            <li>The <b>continue statement</b> will terminate only the current loop in a <b>for statement</b>.</li>
                            <li>Next loop will continue executing.</li>
                        </ul>
                    </dl>
                </dl>
            </div>
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="12" id="LoopContinue">
numberList=[1,3,5,4,2]
counter=0

for number in numberList:
    if(number==4):
        continue
    print('The value at index ' + str(counter) + ' is ' + str(number))
    counter+=1

print('\nEnd of loop.')
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('LoopContinue','LoopContinueOut')">Run</button>
                </div>
            </form>
            <pre id="LoopContinueOut"></pre>
            <!--End of Reference Code-->
        </div>

        <div class="well">
            <h2>While Loop</h2>
            <div class="well">
                <h3>While Loop Overview</h3>
                <ul>
                    <li>
                        <dl>
                            <dt>Definition:</dt>
                            <dd>The <em>while</em> loop is allows you to repeatedly execute a block of statements as long as a condition is true.</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>Syntax:</dt>
                            <dd><code><b>while</b> <i>boolResult</i> <b>:</b></code></dd>
                            <dd>The lines in <b>while statement</b> will be repeatedly executed as long as the <i>boolResult</i> gives <b>True</b>. Note that boolResult can be gotten from any calculates or comparisons.</dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="well">
                <h3>While Statement</h3>
                <p>Just like what we did in <b>for statement</b>.</p>
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="10" id="WhileDefinition">
numberList=[1,3,5,4,2]
counter=0

while counter < len(numberList):
    number=numberList[counter]
    print('The value at index ' + str(counter) + ' is ' + str(number))
    counter+=1

print('\nEnd of loop.')
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('WhileDefinition','WhileDefinitionOut')">Run</button>
                    </div>
                </form>
                <pre id="WhileDefinitionOut"></pre>
                <!--End of Reference Code-->
            </div>

            <div class="well">
                <h3>Simple Calculation</h3>
                <p>The same calculation with that in <b>for statement</b>.</p>
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="9" id="WhileCalculation">
numberList=[1,3,5,4,2]
sum=0
counter=0
while counter < len(numberList):
    sum=sum+numberList[counter]
    counter+=1

print('The value of sum is: '+str(sum))
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('WhileCalculation','WhileCalculationOut')">Run</button>
                    </div>
                </form>
                <pre id="WhileCalculationOut"></pre>
                <!--End of Reference Code-->
            </div>



            <div class="well">
                <h2>While Statement in Function</h2>
                <p>The same accumulation with that in <b>for statement</b>.</p>
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="14" id="WhileAccumulation">
def accumulationOfList(startNumber, endNumber, stepNumber):
    sum=0
    number=startNumber
    while number < endNumber:
        sum+=number
        number+=stepNumber
    return sum

begin=1
end=10
step=3
# 1 + 4 + 7 = 12
print('The value of sum is: '+ str(accumulationOfList(begin,end,step)))
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('WhileAccumulation','WhileAccumulationOut')">Run</button>
                    </div>
                </form>
                <pre id="WhileAccumulationOut"></pre>
                <!--End of Reference Code-->
            </div>

            <div class="well">
                <h3>Break Statement in a While Loop</h3>
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="13" id="WhileBreak">
numberList=[1,3,5,4,2]
counter=0

while counter < len(numberList):
    number=numberList[counter]
    if(number==4):
        counter+=1
        break
    print('The value at index ' + str(counter) + ' is ' + str(number))
    counter+=1

print('End of loop.')
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('WhileBreak','WhileBreakOut')">Run</button>
                    </div>
                </form>
                <pre id="WhileBreakOut"></pre>
                <!--End of Reference Code-->
            </div>

            <div class="well">
                <h3>Continue Statement</h3>
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="13" id="WhileContinue">
numberList=[1,3,5,4,2]
counter=0

while counter < len(numberList):
    number=numberList[counter]
    if(number==4):
        counter+=1
        continue
    print('The value at index ' + str(counter) + ' is ' + str(number))
    counter+=1

print('End of loop.')
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('WhileContinue','WhileContinueOut')">Run</button>
                    </div>
                </form>
                <pre id="WhileContinueOut"></pre>
                <!--End of Reference Code-->
            </div>

        </div>

        <div class="well">
            <h2>Previous Examples with For Statement</h2>
            <div class="well">
                <h3 >Example 1</h3>
                <p>Here is an example in the lecture of <b>if statement</b>. We try to guess the right number in this example:</p>
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="38" id="IfExample">
import random
maxValue = 10
secretNumber = random.randint(1,maxValue)

def guessNumber(myGuess):
    isCorrectGuess = False;
    if myGuess > secretNumber:
        print("Lower")
    elif myGuess < secretNumber:
        print("Higher")
    else:
        isCorrectGuess = True
    return isCorrectGuess

prompt = "I'm thinking of a number between 1 and " + str(maxValue)
print(prompt)

# We can revisit this example with loops to have any number of guesses
won = False
if not won:
    currentGuess = int(input("Enter a number"))
    if guessNumber(currentGuess):
        print("You win! Congratulations!")
        won = True
if not won:
    currentGuess = int(input("Enter a number"))
    if guessNumber(currentGuess):
        print("You win! Congratulations!")
        won = True
if not won:
    currentGuess = int(input("Enter a number"))
    if guessNumber(currentGuess):
        print("You win! Congratulations!")
        won = True
if not won:
    message = "The secret number was " + str(secretNumber)
    print(message)
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('IfExample','IfExampleOut')">Run</button>
                    </div>
                </form>
                <pre id="IfExampleOut"></pre>
                <!--End of Reference Code-->
                <hr />

                <p>We can only guess this number for 3 times, since we have 3 <b>if statement</b> to do input. However, having <b>while statement</b> we can guess the number until we get the right number.</p>
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="25" id="ForExampleGuess">
import random
maxValue = 10
secretNumber = random.randint(1,maxValue)

def guessNumber(myGuess):
    isCorrectGuess = False;
    if myGuess > secretNumber:
        print("Lower")
    elif myGuess < secretNumber:
        print("Higher")
    else:
        isCorrectGuess = True
    return isCorrectGuess

prompt = "I'm thinking of a number between 1 and " + str(maxValue)
print(prompt)

# We can revisit this example with loops to have any number of guesses
won = False
while not won:
    currentGuess = int(input("Enter a number"))
    if guessNumber(currentGuess):
        print("You win! Congratulations!")
        won = True
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('ForExampleGuess','ForExampleGuessOut')">Run</button>
                    </div>
                </form>
                <pre id="ForExampleGuessOut"></pre>
                <!--End of Reference Code-->
            </div>

            <div class="well">
                <h2>Example 2</h2>
                <p>Remember that taxes problem?</p>
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="46" id="IfTaxes">
# Filing single in 2015

def fedralTaxOwed(taxableIncome):
    if taxableIncome <= 9225:
        return 0.1*taxableIncome
    elif taxableIncome <= 37450:
        return 922.5 + 0.15*(taxableIncome-9225)
    elif taxableIncome <= 90750:
        return 5156.25 + 0.25*(taxableIncome-37450)
    elif taxableIncome <= 189300:
        return 18481.25 + 0.28*(taxableIncome-90750)
    elif taxableIncome <= 411500:
        return 46075.25 + 0.33*(taxableIncome-189300)
    elif taxableIncome <= 413200:
        return 119401.25 + 0.35*(taxableIncome-411500)
    else:
        return 119996.25 + 0.396*(taxableIncome-413200)

def NYSTaxOwed(taxableIncome):
    if taxableIncome <= 8200:
        return 0.04*taxableIncome
    elif taxableIncome <= 11300:
        return 328.0 + 0.045*(taxableIncome-8200)
    elif taxableIncome <= 13350:
        return 467.5 + 0.0525*(taxableIncome-11300)
    elif taxableIncome <= 20550:
        return 575.13 + 0.059*(taxableIncome-13350)
    elif taxableIncome <= 77150:
        return 999.93 + 0.0645*(taxableIncome-20550)
    elif taxableIncome <= 205850:
        return 4650.63 + 0.0665*(taxableIncome-77150)
    elif taxableIncome <= 1029250:
        return 13209.18 + 0.0685*(taxableIncome-205850)
    else:
        return 69612.08 + 0.0882*(taxableIncome-1029250)

def incomeAfterTaxes(taxableIncome):
    return taxableIncome - fedralTaxOwed(taxableIncome) - NYSTaxOwed(taxableIncome)

incomeAfterDeductions = 50000

print("Taxable income     : " + str(incomeAfterDeductions))
print("Federal tax owed   : " + str(fedralTaxOwed(incomeAfterDeductions)))
print("NYS tax owed       : " + str(NYSTaxOwed(incomeAfterDeductions)))
print("Income after taxes : " + str(incomeAfterTaxes(incomeAfterDeductions)))
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('IfTaxes','IfTaxesOut')">Run</button>
                    </div>
                </form>
                <pre id="IfTaxesOut"></pre>
                <!--End of Reference Code-->
                <hr />

                <p>We can rewrite it using <b>List</b> and <b>for statement</b>:</p>
                <!-- Code from http://www.skulpt.org -->
                <form role="form">
                    <div class="form-group">
<textarea class="form-control" rows="32" id="ForTaxes">
# Filing single in 2015

def fedralTaxOwed(taxableIncome):
    level=[0, 1, 2, 3, 4, 5]
    rate=[0.1, 0.15, 0.25, 0.28, 0.33, 0.35]
    base=[0.0, 922.5, 5156.25, 18481.25, 46075.25, 119401.25]
    threshold=[0, 9225, 37450, 90750, 189300, 411500, 413200]
    for lvl in level:
        if taxableIncome <= threshold[lvl + 1]:
            return base[lvl] + rate[lvl] * (taxableIncome - threshold[lvl])
    return 119996.25 + 0.396*(taxableIncome-413200)

def NYSTaxOwed(taxableIncome):
    level=[0, 1, 2, 3, 4, 5, 6]
    rate=[0.04, 0.045, 0.0525, 0.059, 0.0645, 0.0665, 0.0685]
    base=[0.0, 328.0, 467.5, 575.13, 999.93, 4650.63, 13209.18]
    threshold=[0, 8200, 11300, 13350, 20550, 77150, 205850, 1029250]
    for lvl in level:
        if taxableIncome <= threshold[lvl + 1]:
            return base[lvl] + rate[lvl] * (taxableIncome - threshold[lvl])
    return 69612.08 + 0.0882*(taxableIncome-1029250)

def incomeAfterTaxes(taxableIncome):
    return taxableIncome - fedralTaxOwed(taxableIncome) - NYSTaxOwed(taxableIncome)

incomeAfterDeductions = 50000

print("Taxable income     : " + str(incomeAfterDeductions))
print("Federal tax owed   : " + str(fedralTaxOwed(incomeAfterDeductions)))
print("NYS tax owed       : " + str(NYSTaxOwed(incomeAfterDeductions)))
print("Income after taxes : " + str(incomeAfterTaxes(incomeAfterDeductions)))
</textarea>
                        <br/>
                        <button class="btn btn-default" type="button" onclick="runit('ForTaxes','ForTaxesOut')">Run</button>
                    </div>
                </form>
                <pre id="ForTaxesOut"></pre>
                <!--End of Reference Code-->
            </div>
        </div>
    </div>
</div>