<div class="container">
    <div class="panel-group">
        <div class="text-center panel panel-primary">
            <div class="panel-heading panel-page-heading"><h1>Math</h1></div>
        </div>
    </div>

    <div class="well">
        <h2>Types of Division and the Modulo Operation</h2>
        <ul>
            <li>The / operator gives the quotient of integer division</li>
            <li>The % operator gives the remainder of integer division</li>
            <li>Integer division vs. floating point division</li>
        </ul>

        <p>Let's look at how integer division works:</p>
        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="10" id="practice">
print(4/2)
print(5/2)
print(6/2)
# We would expect this to print out:
    #2
    #2.5
    #3
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice','practiceOut')">Run</button>
                </div>
            </form>

            <pre id="practiceOut"></pre>
        </div>

        <p>So what happened to 5/2?</p>
        <p> Integer division happened.</p>
        <p>The '/' operator preforms integer division, which means that operation does not return decimals, only
            integers.
            So, even though you'd think that the answer to our 5/2 example above should be 2.5, it is cut down to just
            2.
            Since 4/2 gives us 2 and
            6/3 is 3, when those are cut down to integers, it doesn't change the value.</p>
        <br>
        <h3>The Modulo operation</h3>
        <p>The modulo operator, %, acts like a remainder operator. It is easiest to understand when seen in code:</p>
        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="12" id="practice2">
int1=(4/2)*2
print(int1) #we would expect this to print 4
int1=4%2
print(int1) #because 4 is evenly divided by 2, this should be 0
int2=(5/2)*2
print(int2) #because 5/2 is 2, this should also be 4
print(5%2) # this is the remainder of 5/2
int2=((5/2)*2)+(5%2)
print(int2)

</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice2','practice2Out')">Run
                    </button>
                </div>
            </form>

            <pre id="practice2Out"></pre>
        </div>

        <p>So what if we want decimal answers to our division?</p>
        <br>
        <h3>Floating Point Division</h3>
        <ul>
            <li>Fancy way of saying 'decimal division'</li>
            <li>To get a decimal answer, you need to put in decimal divisors and dividends</li>
        </ul>

        <p>In the example below, even though mathematically, the two lines look the same, adding the .0 after the 5 and
            2
            tells the compiler that we want the answer to be in a decimal form as well.</p>

        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="5" id="practice3">
print(5/2)
print(5.0/2.0)
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice3','practice3Out')">Run
                    </button>
                </div>
            </form>

            <pre id="practice3Out"></pre>
        </div>
        <br>
        <h3>Converting an integer to a float (decimal)</h3>
        <li>Integer*1.0=Float</li>
        <p>When writing a program, we may not always have control over whether or not a number that we're using is an
            integer
            or a floating point number. For example, what if we need a function that only returns an integer? Does that
            mean
            that
            we're stuck only being able to do integer division? Thankfully, no. We can convert an integer to a float
            simply
            by multiplying
            it by 1.0.</p>
        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="10" id="practice4">
var1=77
var2=var1*1.0
var3=var2*1.0
print(var1)
print(var2)
print(var3)


</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice4','practice4Out')">Run
                    </button>
                </div>
            </form>

            <pre id="practice4Out"></pre>
        </div>
        <p>As var3 proves, multiplying a float by 1.0 still results in a float, so even if you don't know if the
            variable
            that you
            are working with is an integer or a float, multiplying by 1.0 will always make sure that you do have a
            float.</p>

        <br>
        <br>

        <h2>Some Useful Math Functions</h2>
        <ul>
            <li><h3>pow(x,y)</h3></li>
            <ul>
                <li>returns x^y (NOT y^x, order is important!!)</li>
                <div class="well">
                    <!-- Code from http://www.skulpt.org -->
                    <form role="form">
                        <div class="form-group">
<textarea class="form-control" rows="5" id="practice5">
base=int(input("Enter a base!"))
exponent=int(input("Enter an exponent!"))
print(pow(base,exponent))
</textarea>
                            <br/>
                            <button class="btn btn-default" type="button" onclick="runit('practice5','practice5Out')">
                                Run
                            </button>
                        </div>
                    </form>

                    <pre id="practice5Out"></pre>
                </div>
                <p>What if we want to know what 5.667 raised to the 1.9 is. Because the code that we have right now
                    changes
                    all the
                    input values to integers, we can't calculate this with much accuracy. However, what if we change our
                    input values to floats
                    instead of integers? </p>
                <div class="well">
                    <!-- Code from http://www.skulpt.org -->
                    <form role="form">
                        <div class="form-group">
<textarea class="form-control" rows="5" id="practice6">
base=float(input("Enter a base!"))
exponent=float(input("Enter an exponent!"))
print(pow(base,exponent))
</textarea>
                            <br/>
                            <button class="btn btn-default" type="button" onclick="runit('practice6','practice6Out')">
                                Run
                            </button>
                        </div>
                    </form>

                    <pre id="practice6Out"></pre>
                </div>


            </ul>
            <br>
            <li><h3>abs(x)</h3></li>
            <ul>
                <li>returns the absolute value of x</li>
                <div class="well">
                    <!-- Code from http://www.skulpt.org -->
                    <form role="form">
                        <div class="form-group">
<textarea class="form-control" rows="5" id="practice7">
numbers=float(input("Enter a number!!"))
print(abs(numbers))
</textarea>
                            <br/>
                            <button class="btn btn-default" type="button" onclick="runit('practice7','practice7Out')">
                                Run
                            </button>
                        </div>
                    </form>

                    <pre id="practice7Out"></pre>
                </div>

            </ul>


            <br>


            <li><h3>sqrt(x)</h3></li>
            <ul>
                <li>Returns the square root of x</li>
                <p><b>A note on import and libraries: </b>This function is called a bit differently than the previous
                    two.
                    Whenever a function is called in code, the compiler
                    needs to be able to find the function definition. All the functions that we've used thus far have
                    all
                    been in the
                    standard, default library. However, sqrt() is in a different library, math, and the compiler won't
                    find
                    it in the
                    default library and it won't know what to do. But if we import the math library and tell the
                    compiler to
                    look in
                    the math library when it reaches sqrt(), it will be able to run the program with no problem</p>
                <p>For example, imagine that you are a compiler, and you are given the following commands to look up in
                    a
                    dictionary
                    and execute, and you are only handed an English dictionary:
                </p>
                <blockquote><pre>
            sit
            leve
            jump
            walk
        </pre>
                </blockquote>
                <p>When you reach 'leve', you won't find it in your English dictionary, and, as a compiler, you'd throw
                    an
                    error and
                    stop. But if you were also handed a French dictionary, and the word 'leve' were marked as a French
                    word,
                    you'd be able
                    to look up the word 'leve' in that dictionary, understand that it means to stand up, execute it and
                    then
                    continue
                    with your list. When we import math in the example below, we're telling the compiler that we're
                    going to
                    use functions
                    that are defined in the math library. Then, when we call the function, we add 'math.' before the
                    function so that
                    the compiler knows to look for the declaration in the math library instead of its default
                    library.</p>


                <div class="well">
                    <!-- Code from http://www.skulpt.org -->
                    <form role="form">
                        <div class="form-group">
<textarea class="form-control" rows="5" id="practice8">
import math
numbers=float(input("Enter a number!!"))
print(math.sqrt(numbers))
</textarea>
                            <br/>
                            <button class="btn btn-default" type="button" onclick="runit('practice8','practice8Out')">
                                Run
                            </button>
                        </div>
                    </form>

                    <pre id="practice8Out"></pre>
                </div>


            </ul>

            <li><h3>randomint(a,b)</h3></li>
            <ul>
                <li>Returns a random integer between a and b, inclusive.</li>
                <p>Like sqrt(), this function is also not stored in the default library, so we must import its library
                    before we can
                    use it, and mark it as the function from the imported library when we do use it.</p>

                <div class="well">
                    <!-- Code from http://www.skulpt.org -->
                    <form role="form">
                        <div class="form-group">
<textarea class="form-control" rows="10" id="practice9">
import random
upperBound=int(input("Enter an upper bound!"))
lowerBound=int(input("Enter an lower bound!"))
print(random.randint(lowerBound,upperBound))
print(random.randint(lowerBound,upperBound))
print(random.randint(lowerBound,upperBound))


</textarea>
                            <br/>
                            <button class="btn btn-default" type="button" onclick="runit('practice9','practice9Out')">
                                Run
                            </button>
                        </div>
                    </form>

                    <pre id="practice9Out"></pre>
                </div>


            </ul>

        </ul>


        <h2>Combining functions</h2>
        <p>By combining some of these function that we've worked with, we can create some more useful functions</p>

        <li>Calculating z scores given standard deviation (o), score (X), and mean (u)</li>

        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="15" id="practice0">
def zScore(X,o,u):
    X=X*1.0
    o=o*1.0
    u=u*1.0
    numerator=X-u
    answer=numerator/o
    return answer


a=float(input("Enter Score!"))
b=float(input("Enter standard deviation!"))
c=float(input("Enter average!"))

print(zScore(a,b,c))
</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice0','practice0Out')">Run
                    </button>
                </div>
            </form>

            <pre id="practice0Out"></pre>
        </div>
        <br>
        <p><b>Note: </b><i>Technically</i>, this function could have been written in two lines of code:</p>
        <blockquote><pre>
        def zScore(X,o,u):
             return (X-u)/o
    </pre>
        </blockquote>
        <p>However, this will quickly get more difficult to read and write correctly (and debug if written improperly)
            as we
            look at more complex functions. For example, imagine trying to write the next example in one line!</p>


        <br>


        <li>Finding the distance between 2 points (x1,y1) and (x2,y2)</li>
        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="20" id="practice11">
import math

def distance(x1,y1,x2,y2):
    xdiff=abs(x1-x2)
    ydiff=abs(y1-y2)
    xSqr=pow(xdiff,2)
    ySqr=pow(ydiff,2)
    toSqrt=ySqr+xSqr
    return math.sqrt(toSqrt)


x1=float(input("Enter x1!"))
y1=float(input("Enter y1!"))
x2=float(input("Enter x2!"))
y2=float(input("Enter y2!"))
print(distance(x1,y1,x2,y2))


</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice11','practice11Out')">Run
                    </button>
                </div>
            </form>

            <pre id="practice11Out"></pre>
        </div>

        <p>


            <br>


        <li>Finds the roots of a quadratic expression give a, b and c</li>

        <a href="https://en.wikipedia.org/wiki/Quadratic_equation">https://en.wikipedia.org/wiki/Quadratic_equation</a>

        <div class="well">
            <!-- Code from http://www.skulpt.org -->
            <form role="form">
                <div class="form-group">
<textarea class="form-control" rows="26" id="practice12">
import math

def roots(a,b,c):
    #although our use of this function in this example ensures that the a,b, and c are
    #always floats, if we want to use this function in other places, we want to make
    #sure that a,b, and c are still floats when we use them!
    a=a*1.0
    b=b*1.0
    c=c*1.0
    bSqr=pow(b,2)
    var1=4*a*c
    discrm=math.sqrt(bSqr-var1)
    numeratorPlus=-b+discrm
    numeratorMinus=-b-discrm
    denominator=a*c
    ansPlus=numeratorPlus/denominator
    ansMinus=numeratorMinus/denominator
    return [ansPlus,ansMinus] #Square brackets allow us to return more than 1 value

a=float(input("Enter a!"))
b=float(input("Enter b!"))
c=float(input("Enter c!"))

print(roots(a,b,c))

</textarea>
                    <br/>
                    <button class="btn btn-default" type="button" onclick="runit('practice12','practice12Out')">Run
                    </button>
                </div>
            </form>

            <pre id="practice12Out"></pre>
        </div>
        <br>

        <p>Right now, our function is not particularly able to deal with an expression that has no real roots, since, if
            an
            expression
            has no real roots, the discriminant (in this case, bSqr-var1) is negative. If we try to take the square root
            of
            that right now,
            the sqrt() function will throw and error and the program will stop running. In future lectures, we will look
            at
            ways of
            making our code better able to handle a situation like that so that it can keep running.</p>


        <br>


        <h2>More Math</h2>
        <p>We could spend several lectures talking about even a fraction of the mathematical abilites of programming.
            However, most of what you will need for this course (and even beyond!) has been covered. If you are feeling
            ambitious, you can take a
            look at the Python documentation of the math library:</p>
        <a href="https://docs.python.org/3/library/math.html">https://docs.python.org/3/library/math.html</a>


    </div>
</div>