<div class="container">

	<div class="panel-group">
		<div class="text-center panel panel-primary">
			<div class="panel-heading panel-page-heading"><h1>Variable Scope</h1></div>
		</div>
	</div>
	<br/>



	<div class="well">

		<div class="well">
			<div><h2>Variables in Python</h2></div>

			<p>Brief review of variables from our first week's lecture.</p>
			<ul>
				<li><h6>We can declare variables that hold values.</h6></li>
				<li><h6>We can change the variables' values.</h6></li>
				<li><h6>Very convenient to use. Essential in programming.</h6></li>
			</ul>

			<!-- Code from http://www.skulpt.org -->
			<form role="form">
				<div class="form-group">
<textarea class="form-control" rows="5" id="vs1">
x = 5
print(x)
x = 10
print(x)
</textarea>
					<br/>
					<button class="btn btn-default" type="button" onclick="runit('vs1','vs1Out')">Run</button>
				</div>
			</form>

			<pre id="vs1Out"></pre>

		</div>



		<div class="well">
			<div><h2>Variables in Function</h2></div>
			<br/>
			<p>This time we will go deeper in use of variables with function.</p>

			<!-- Code from http://www.skulpt.org -->
			<form role="form">
				<div class="form-group">
<textarea class="form-control" rows="7" id="vs2">
x = 5
def square(x):
	y = 10
	return x**2
print(square(x))
print(y)
</textarea>
					<br/>
					<button class="btn btn-default" type="button" onclick="runit('vs2','vs2Out')">Run</button>
				</div>
			</form>

			<pre id="vs2Out"></pre>

		</div>
		<div class="alert alert-info">We get an error because variable y wasn't declared. Even if a variable y holding value 10 was declared inside the function, and the function was executed by print (square(x)), it doesn't have an effect outside of the function.</div>
		<br/></br>
		<p>Let's look at another example.</p>
		<!-- Code from http://www.skulpt.org -->
		<form role="form">
			<div class="form-group">
<textarea class="form-control" rows="10" id="vs3">
k = 5
def attempt_to_change_value(x):
	k = 10
	return x**2
x = 10
print(attempt_to_change_value(x))
print(k)
#would k be printed as 5 or 10?
</textarea>
				<br/>
				<button class="btn btn-default" type="button" onclick="runit('vs3','vs3Out')">Run</button>
			</div>
		</form>

		<pre id="vs3Out"></pre>
		<p>k was printed as 5 as "k = 10" in the function had no effect outside of the function.</p>


		<div class="well">
			<div><h2>Variables in function are still useful</h2></div>
			<p>We are still pleased to use new variables in function.</p>
			<!-- Code from http://www.skulpt.org -->
			<form role="form">
				<div class="form-group">
<textarea class="form-control" rows="7" id="vs4">
def square_and_addition(x):
	a = 10
	b = 5
	return x**2 + a + b
x = 5
print (square_and_addition(x))
</textarea>
					<br/>
					<button class="btn btn-default" type="button" onclick="runit('vs4','vs4Out')">Run</button>
				</div>
			</form>

			<pre id="vs4Out"></pre>
		</div>

		<div class="well">
			<div><h2>Declared variables outside of the function</h2></div>
			<p>We can use variables that were declared outside of the function in the function.</p>

			<!-- Code from http://www.skulpt.org -->
			<form role="form">
				<div class="form-group">
<textarea class="form-control" rows="7" id="vs11">
x = 10
def add_by_ten(k):
	return x+k
print add_by_ten(10)
</textarea>
					<br/>
					<button class="btn btn-default" type="button" onclick="runit('vs11','vs11Out')">Run</button>
				</div>
			</form>

			<pre id="vs11Out"></pre>
			</br>
			<p>Would this work also?</p>

			<!-- Code from http://www.skulpt.org -->
			<form role="form">
				<div class="form-group">
<textarea class="form-control" rows="7" id="vs12">
def add_by_ten(k):
	return x+k
x = 10
print add_by_ten(10)
</textarea>
					<br/>
					<button class="btn btn-default" type="button" onclick="runit('vs12','vs12Out')">Run</button>
				</div>
			</form>

			<pre id="vs12Out"></pre>
			<p>Yes, because the function using "x" is executed after "x" is declared.</p>
			<br/>
			<p>And then how about this?</p>
			<!-- Code from http://www.skulpt.org -->
			<form role="form">
				<div class="form-group">
<textarea class="form-control" rows="7" id="vs13">
def add_by_ten(k):
	return x+k
print add_by_ten(10)
x = 10
</textarea>
					<br/>
					<button class="btn btn-default" type="button" onclick="runit('vs13','vs13Out')">Run</button>
				</div>
			</form>

			<pre id="vs13Out"></pre>
			<p>This didn't work and had an error because the function using "x" is executed before "x" was actually declared.</p>

		</div>


		<div class="well">
			<div><h2>Changing variable's value by using a function</h2></div>
			<p>To get more familiar with function and variable, let's change a variable's value using a function.</p>
			<!-- Code from http://www.skulpt.org -->
			<form role="form">
				<div class="form-group">
<textarea class="form-control" rows="8" id="vs5">
def change_variable(x):
	x = x+5
	return x

a = 5
a = change_variable(a)
print (a)
</textarea>
					<br/>
					<br/>
					<button class="btn btn-default" type="button" onclick="runit('vs5','vs5Out')">Run</button>
				</div>
			</form>

			<pre id="vs5Out"></pre>
			<p>We pass "a" into a function and a's value is added by 5 and returned.</p>

		</div>


		<div class="well">
			<div><h2>Practice</h2></div>
			<p>Let's write some code for variable and function.</p>
			<p>step 1: Define a variable named "three" holding value of 3.</p>
			<p>step 2: Write a function named "computation", which takes one argument and where a variable "d" is defined (inside the function) and holds a value 10.</p>
			<p>step 3: Inside the function, define a variable named "sum_two" that is sum of passing variable and "d".</p>
			<p>step 4: Inside the function, return "sum_two" multiplied by 3.</p>
			<p>step 5: Outside of the function, define a variable "new_three" which has a value of "three" that is passed into the function "computation.</p>
			<p>step 6: Lastly, print "new_three".</p>
			<!-- Code from http://www.skulpt.org -->
			<form role="form">
				<div class="form-group">
<textarea class="form-control" rows="20" id="vspractice">
</textarea>
					<br/>
					<br/>
					<br/>
					<button class="btn btn-default" type="button" onclick="runit('vspractice','vspracticeOut')">Run</button>
				</div>
			</form>

			<pre id="vspracticeOut"></pre>
			<p>See if 39 is printed.</p>
		</div>

	</div>

</div>